.page-404

    &__inner
        @media (max-width: $screenL - 1)
            width: 100%

    &__row
        display: flex
        padding-top: 60px
        padding-bottom: 100px

        @media (max-width: $screenL - 1)
            display: block
            text-align: center

    &__col
        display: flex
        align-items: center
        width: 50%

        @media (max-width: $screenL - 1)
            width: 100%

        &:last-child
            justify-content: flex-end

            @media (max-width: $screenL - 1)
                justify-content: center
                margin-top: 40px

        img
            max-width: 100%
            display: block

    &__title
        font-family: $font-alt
        color: #1976c1
        font-size: 160px
        line-height: 1
        font-weight: normal
        margin: 0

        @media (max-width: $screenL - 1)
            text-align: center

        @media (max-width: $screenM)
            font-size: 90px

    &__subtitle
        font-size: 14px
        opacity: .6
        margin: 0
        margin-top: 35px

        @media (max-width: $screenL - 1)
            text-align: center
