.main-content 

    &._main 
        position: relative
        padding-top: 9rem

        @media (max-width: 768px) 
            padding-top: 0
            width: 100%
            background-image: url("../images/snow3.png"), url("../images/snow4.png"), url("../images/snow3.png")
            background-repeat: no-repeat
            background-size: 29.2rem auto
            background-position: top 2.8rem right, top 13.16rem left, top 26.6rem right

        &:before 
            content: ''
            position: absolute
            top: -10.4rem
            left: 2.9rem
            width: 40.35rem
            height: 21.55rem
            background-image: url("../images/snowman.png")
            background-repeat: no-repeat 
            background-size: contain

            @media (max-width: 768px) 
                display: none