.account-block 
    padding-top: 47px
    background-color: $darkBlue

    @media (max-width: $screenL - 1)
        padding-top: 50px

    &__logout
        position: relative
        display: inline-block
        vertical-align: top
        padding-left: 24px
        font-size: 16px
        line-height: 21px
        color: rgba(255, 255, 255, 0.6)
        transition: opacity 0.4s ease

        @media (max-width: $screenL - 1)
            margin: 0 auto
            margin-top: 8px
            max-width: 50px

        &:hover
            opacity: 0.8

        .icon
            position: absolute
            top: 0
            left: 0
            width: 8px
            height: 15px
            border: 1px solid rgba(255, 255, 255, 0.6)
            border-right: none

            &:before
                content: ""
                position: absolute
                top: 7px
                left: 2px
                width: 11px
                height: 1px
                background-color: rgba(255, 255, 255, 0.6)

            &:after
                content: ""
                position: absolute
                top: 4px
                left: 6px
                width: 6px
                height: 6px
                border-top: 1px solid rgba(255, 255, 255, 0.6)
                border-left: 1px solid rgba(255, 255, 255, 0.6)
                transform: rotate(135deg)

    &__title 
        margin: 0 0 18px 0
        text-align: center
        text-transform: uppercase
        font-family: $font-alt
        font-weight: 400
        font-size: 54px
        line-height: 65px
        color: #fff

        @media (max-width: $screenL - 1)
            display: none

    &__header
        display: flex 
        justify-content: space-between
        padding-bottom: 37px

        @media (max-width: $screenL - 1)
            flex-direction: column 
            justify-content: flex-start
            padding-bottom: 45px

    &__content 
        padding-bottom: 0px
        max-height: 0
        overflow: hidden
        transition: max-height 0.4s ease

        .unroll & 
            max-height: 500px

        @media (max-width: $screenL - 1)
            flex-direction: column

    &__col 
        display: flex 
        flex-direction: column
        max-width: 50%

        @media (max-width: $screenL - 1)
            max-width: 100%

    &__user 
        display: flex
        flex-direction: row

        @media (max-width: $screenL - 1)
            flex-direction: column

    &__image 
        display: block
        margin-right: 40px
        width: 160px
        height: 160px
        border-radius: 50%
        overflow: hidden

        @media (max-width: $screenXL - 1)
            margin-right: 24px
            width: 120px
            height: 120px

        @media (max-width: $screenL - 1)
            margin: 0 auto
            margin-bottom: 16px

        img 
            display: block
            width: 100%
            height: auto

    &__info 
        display: flex
        flex-direction: column 

        @media (max-width: $screenL - 1)
            text-align: center

    &__name
        margin: 50px 0 12px 0
        font-weight: 700
        font-size: 20px
        line-height: 26px
        color: #fff

        @media (max-width: $screenXL - 1)
            margin-top: 36px

        @media (max-width: $screenL - 1)
            margin: 0 auto
            margin-bottom: 10px
            max-width: 286px

.rating-block 
    display: flex
    margin-bottom: 16px

    @media (max-width: $screenL - 1)
        flex-direction: column
        margin: 0 auto
        max-width: 286px

.rating
    display: flex
    font-size: 0
    margin-left: -2px

    @media (max-width: $screenL - 1)
        justify-content: center
        margin-left: 0
        margin-bottom: 10px

.star-1 

    .star:first-child 
        color: $yellow

.star-2

    .star

        &:first-child,
        &:nth-child(2)
            color: $yellow

.star-3

    .star

        &:first-child,
        &:nth-child(2),
        &:nth-child(3)
            color: $yellow

.star-4

    .star

        &:first-child,
        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4)
            color: $yellow

.star 
    display: block
    margin-left: 7px
    width: 15px
    height: 14px
    font-size: 19px
    line-height: 21px
    color: rgba(255, 255, 255, 0.6)

    &:first-child
        margin-left: 0

        @media (max-width: $screenL - 1)
            margin-left: 3px

    @media (max-width: $screenL - 1)
        margin: 0 3px

.rank
    margin-left: 12px
    line-height: 21px
    color: rgba(255, 255, 255, 0.6)

    @media (max-width: $screenL - 1)
        margin-left: 0

.about-user 
    display: flex
    line-height: 30px
    color: #fff
    position: relative

    &__edit 
        position: relative
        margin-left: 32px
        text-shadow: 1px 1px 1px rgba(6, 71, 108, 1)
        background-image: linear-gradient(to top, $transparent 0px, $transparent 8px, #fff 8px, #fff 9px, $transparent 9px, $transparent 100%)

        &:before 
            content: ""
            position: absolute
            top: 4px
            left: -32px
            width: 22px
            height: 22px
            background-image: url("../images/gear-icon.png")
            background-repeat: no-repeat
            background-size: contain
            background-position: center

    &__col 
        margin-right: 90px
        padding-bottom: 60px
        min-width: 310px

        @media (max-width: $screenXL - 1)
            margin-right: 40px

        @media (max-width: $screenL - 1)
            margin: 0 auto !important
            padding-bottom: 0
            width: 100%
            min-width: 286px
            max-width: 380px

        &:nth-child(2)

            @media (max-width: $screenXL - 1)
                min-width: 260px

            @media (max-width: $screenL - 1)
                min-width: 286px

        &:last-child 
            margin-right: 0
            margin-left: auto
            min-width: 380px

            @media (max-width: $screenXL - 1)
                min-width: 310px

            @media (max-width: $screenL - 1)
                margin-right: auto
                padding-bottom: 41px
                min-width: 286px

            .about-user__row:last-child

                @media (max-width: $screenL - 1)
                    padding-top: 140px

        &:first-child
            min-width: 390px
            margin-right: 10px

            .about-user__row:last-child
                max-width: 288px

                @media (max-width: $screenL - 1)
                    position: absolute
                    right: 5000px
                    bottom: -100px
                    margin-left: -10px
                    opacity: 0
                    transition: opacity 1s ease, bottom 0.4s ease
                    z-index: -1

                    @media (max-width: $screenM )
                        width: 100%
                        left: 0
                        transform: none

                    .unroll & 
                        bottom: 92px
                        right: auto
                        left: 50%
                        transform: translateX(-50%)
                        opacity: 1
                        z-index: 1

                        @media (max-width: $screenM )
                            margin-left: 0

    &__row 
        position: relative
        display: flex

        &._wrap
            flex-wrap: wrap

        &.mail
            //padding-right: 40px
            .about-user__btn
                margin-right: 0

    &__mail
        margin-right: 10px
        max-width: 100%
        overflow: hidden
        text-overflow: ellipsis

        @media (max-width: $screenM )
            max-width: 100%
            overflow: hidden 
            text-overflow: ellipsis

    &__del 
        position: absolute
        right: 0
        top: 0
        font-size: 0
        width: 32px
        height: 32px
        background-color: rgba(255, 255, 255, 0.2)
        border-radius: 50%
        transition: transform 0.4s ease
        transform: rotate(0deg)

        &:hover
            transform: rotate(360deg)

        &:before,
        &:after 
            content: ""
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%, -50%) rotate(45deg)
            width: 2px
            height: 12px
            background-color: rgba(255, 255, 255, 0.8)

        &:after
            transform: translate(-50%, -50%) rotate(-45deg)

    &__label 
        margin-right: 10px
        margin-bottom: 10px
        white-space: nowrap

    a 
        color: #fff
        transition: opacity 0.4s ease 

        &:hover,
        &:focus,
        &:active 
            opacity: 0.7

    &__btn 
        display: inline-block
        vertical-align: top
        margin-right: 10px
        margin-bottom: 10px
        padding: 0 17px
        padding-top: 2px
        line-height: 30px
        border-radius: 16px

        @media (max-width: $screenM )
            padding: 0 14px

        &--blue 
            background-color: #3691f2
            background-image: linear-gradient(to bottom, #3691f2, #3ea4f5)

        &--yellow 
            background-image: linear-gradient(#fba000, #FCC65F)

._n.social-btn
    display: flex
    height: 30px
    text-align: center
    line-height: 30px
    padding-top: 2px
    overflow: hidden
    box-sizing: border-box

    &:after
        content: ''
        width: 66px
        height: 13px
        display: block
        position: absolute
        top: 0
        left: 0
        right: 0
        bottom: 0
        margin: auto

    img
        align-self: center

    &--vk
        background-image: linear-gradient(#507299, #507299)

        &:after
            background: url('../images/vk-red.png') center no-repeat
            background-size: contain
            width: 21px
            height: 12px

        &._active
            &:after
                background: url('../images/vk.png') center no-repeat
                left: 7px
                right: auto
                background-size: 21px 12px

    &--fb
        background-image: linear-gradient(#365899, #7090BF)

        &:after
            background: url('../images/fb-text.png') center no-repeat
            background-size: contain

        &._active
            &:after
                width: 9px
                height: 17px
                background: url('../images/fb.png') center no-repeat
                background-size: 9px 17px
                left: 14px
                right: auto

    &--ok
        background-image: linear-gradient(#ee8208, #ee8208)

        &:after
            width: 12px
            height: 18px
            background: url('../images/ok-white.png') center no-repeat
            background-size: contain

        &._active
            &:after
                width: 12px
                height: 18px
                background: url('../images/ok.png') center no-repeat
                background-size: 12px 18px
                left: 14px
                right: auto

    &--fb, &--vk, &--ok
        width: 106px !important
        display: block

        &:not(._active)
            font-size: 0

        &._active
            padding-left: 32px
            padding-right: 10px
            width: 134px
            background-color: $yellow
            background-image: linear-gradient(to right, #fff 0%, #fff 32px, $transparent 32px,  $transparent 100%), linear-gradient(#fba000, #FCC65F)
            white-space: nowrap

            img
                margin-right: 24px


.account-block-toggle
    padding: 13px 0 10px 0
    background-image: linear-gradient(to bottom, #3691f2, #3ea4f5)
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2)
    text-align: center
    color: #fff
    cursor: pointer

    p 
        position: relative
        display: inline-block
        vertical-align: top
        margin: 0
        padding-right: 22px

        &:before 
            content: ""
            position: absolute
            top: 50%
            right: 0
            margin-top: -5px
            width: 0
            height: 0
            border-style: solid
            border-width: 10px 6px 0 6px
            border-color: #fff transparent transparent transparent
            transition: transform 0.4s ease
            
            .unroll & 
                margin-top: -7px
                transform: scale(1, -1)