.actions 
    padding-bottom: 62px
    padding-top: 103px
    overflow: hidden

    @media (max-width: $screenL - 1)
        padding-bottom: 20px
        padding-top: 60px

    .mobile-slider 

        @media (max-width: $screenL - 1)
            width: 320px
            max-width: 320px
            overflow: visible

    .mobile-slide 

        @media (max-width: $screenL - 1)
            padding-top: 0

    .layout-positioner 
        display: flex
        justify-content: space-between

        @media (max-width: $screenL - 1)
            padding: 0

.action 
    position: relative
    box-sizing: border-box
    display: flex
    flex-direction: column
    height: 267px

    &__img
        display: flex 
        flex-direction: column 
        justify-content: center
        margin: 0 auto
        width: 200px
        height: 200px
        background-color: #e5e8ef
        border-radius: 50%


    @media (max-width: $screenL - 1)
        box-sizing: border-box
        min-height: 267px

    img 
        display: block
        margin-left: auto
        margin-right: auto

        @media (max-width: $screenL - 1)
            margin: auto

    p 
        margin: 0 auto
        margin-top: auto
        max-width: 170px    
        text-align: center
        line-height: 26px

        a 
            text-decoration: underline

    a 
        color: $blueText
        font-weight: 700
        transition: opacity 0.4s ease

    &>a:first-child 

        @media (max-width: $screenL - 1)
            max-height: 228px

        br 
            display: none

            @media (max-width: $screenL - 1)
                display: block

        &:hover,
        &:focus,
        &:active 
            opacity: 0.9

    .btn--blue 
        position: absolute
        top: 170px
        left: 50%
        transform: translateX(-50%)
        margin-left: -10px
        padding: 10px 35px
        min-width: 168px
        text-decoration: none
        font-size: 16px
        line-height: 21px
        color: #fff

        @media (max-width: $screenL - 1)
            top: 196px