.article-block 
    padding-bottom: 40px
    padding-top: 65px
    background-color: #e5e8ef

    .layout-positioner 
        position: relative

    .article-link
        position: fixed
        top: 50%
        transform: translateY(-50%)
        display: block
        width: 80px
        height: 80px
        font-size: 0
        background-image: linear-gradient(to bottom, #3691f2, #3ea4f5)
        border-radius: 50%
        z-index: 1

        @media (max-width: $screenL)
            display: none

        &:before 
            content: ""
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)
            width: 0
            height: 0
            border-style: solid
            border-width: 16px 27.7px 16px 0
            border-color: transparent #ffffff transparent transparent


        &:hover,
        &:focus,
        &:active 
            opacity: 0.9

        &.prev 
            left: 20px

            &:before 
                margin-left: -6px

        &.next 
            right: 20px

            &:before 
                margin-left: 6px
                transform: translate(-50%, -50%) scale(-1,1)

.article 
    margin-bottom: 20px
    background-color: #fff
    border-radius: 22px

    &__social
        &:after
            content: ''
            display: table
            clear: both

        ul
            display: flex
            float: right
            margin: 0
            padding: 0
            padding-left: 6px
            list-style: none

        li
            margin-right: 14px
            margin-bottom: 0 !important
            font-size: 0

            .social-btn
                width: 32px
                height: 32px

        &-title
            margin-right: 25px
            font-size: 16px
            float: left
            margin-top: 5px

            @media (max-width: 500px)
                display: none

    &__illustration 
        border-radius: 22px 22px 0 0
        overflow: hidden
            

        &._inner 
            border-radius: 0

            @media (max-width: $screenL)
                display: none

        img 
            display: block
            width: 100%
            height: auto

            @media (max-width: $screenL)
                min-width: 472px

    &__text-block 
        padding: 40px 100px

        @media (max-width: $screenL)
            padding: 7px 20px

    &__title 
        margin: 0 0 20px 0
        font-family: $font-alt
        font-weight: 400
        font-size: 54px
        line-height: 65px
        color: $blueText

        @media (max-width: $screenL)
            font-size: 32px
            line-height: 38px

    &__tag 
        display: inline-block
        vertical-align: top
        margin-bottom: 20px
        color: #fff
        padding: 6px 16px 5px 15px
        border-radius: 16px
        background-image: linear-gradient(to bottom, #3691f2, #3ea4f5)

    &__like
        display: flex

    &__footer 
        display: flex
        justify-content: space-between
        padding: 0 100px 60px 100px

        @media (max-width: $screenL)
            padding: 0 20px 43px 20px

    p
        margin: 0 0 20px 0
        max-width: 780px
        font-size: 14px
        line-height: 19px
        color: #000

    ul,
    ol 
        margin: 0
        padding: 0
        list-style: none
        font-size: 14px
        line-height: 19px
        color: #000

    ol 
        counter-reset: li

        li 
            position: relative

            &:before 
                content: counter(li) '.'
                counter-increment: li
                padding-right: 5px

    li 
        margin-bottom: 20px

.likes.active
    opacity: 1
    color: $blueText

.likes.active svg 
    fill: $blueText
    opacity: 1