.banner 
    height: 500px
    color: #fff
    background-color: #e5e8ef
    background-image: radial-gradient(circle at 59% 54%, #50a0d9, #06476c)

    &.big._icecream._heat
        .banner__image-mobile
            background: url("../images/1-4.png") center no-repeat
            background-size: auto 100%

        .layout-positioner
            background-image: url("../images/1-4.png")
            background-size: 500px auto

            @media (max-width: $screenL - 1)
                background: none

        .banner__slogan
            font-weight: normal
            letter-spacing: 1px

            @media (max-width: $screenM)
                max-width: 275px
                letter-spacing: normal

            .marked
                &:after
                    content: ''
                    display: block
                    position: absolute
                    width: 115%
                    height: 80px
                    top: 21px
                    left: -8%
                    background-color: #e3011e
                    border-radius: 50px
                    transform: rotate(-2deg)
                    background-image: none
                    z-index: 0

                    @media (max-width: $screenM)
                        height: 32px
                        top: 7px

    &.big._icecream._olympic._23febr
        .banner__image-mobile
            background: url("../images/1-8.png") center no-repeat
            background-size: auto 100%
            padding-top: 70%
            background-position: right -65px bottom
            width: 100%

        .layout-positioner
            background-image: url("../images/1-8.png")
            background-size: 800px auto
            background-position: top -40px right -100px

            @media (max-width: $screenXL)
                background-size: 750px auto

            @media (max-width: $screenL - 1)
                background: none

        .banner__slogan
            max-width: 600px

            .sup
                max-width: 120px
                vertical-align: baseline

                @media (max-width: $screenL - 1)
                    max-width: 230px

    &.big._icecream._olympic._masl
        .banner__image-mobile
            background: url("../images/1-7.png") center no-repeat
            background-size: auto 100%
            padding-top: 55%

        .layout-positioner
            background-image: url("../images/1-7.png")
            background-size: 700px auto

            @media (max-width: $screenXL)
                background-size: 550px auto

            @media (max-width: $screenL - 1)
                background: none

        .banner__slogan
            .sup
                display: block
                max-width: 150px

                @media (max-width: $screenL - 1)
                    max-width: 230px

            .marked
                &:after
                    background-color: #f0077b

    &.big._icecream._olympic._14febr
        .banner__image-mobile
            background: url("../images/1-6.png") center no-repeat
            background-size: auto 100%

        .layout-positioner
            background-image: url("../images/1-6.png")
            background-size: 550px auto

            @media (max-width: $screenXL)
                background-size: 450px auto

            @media (max-width: $screenL - 1)
                background: none

        .banner__slogan
            .sup
                max-width: 250px

                @media (max-width: $screenL - 1)
                    max-width: 280px

            .marked
                &:after
                    background-color: #f0077b

    &._advice
        background: #4193cf
        height: 600px
        position: relative

        @media (max-width: 1023px)
            height: 470px

        .banner__bottom-tip
            font-size: 10px
            position: absolute
            right: 20px
            bottom: 10px

        .layout-positioner
            padding: 35px 0 75px
            background-image: url(../images/1-10.png)
            background-size: 615px auto
            background-position: center right -30px

            @media (max-width: 1023px)
                padding: 35px 0
                background-size: 400px auto

            @media (max-width: 768px)
                background-image: none

            .banner__slogan
                font-size: 70px
                line-height: 82px
                margin-bottom: 80px

                @media (max-width: 1199px)
                    font-size: 53px
                    line-height: 63px

                @media (max-width: 1023px)
                    margin-bottom: 50px

                @media (max-width: 768px)
                    font-size: 34px
                    line-height: 41px

            .banner__tag
                margin-bottom: 111px

                @media (max-width: 1023px)
                    margin-bottom: 60px

        .banner__line
            display: flex
            align-items: center
            font-size: 0

            @media (max-width: $screenL - 1)
                justify-content: center

        .banner__subtitle
            font-size: 31px
            line-height: 34px
            max-width: 200px
            font-family: $font-alt
            font-weight: 400
            margin-bottom: 0
            margin-right: 6px

            @media (max-width: 768px)
                font-size: 25px
                line-height: 30px
                text-align: left

    &.big._icecream._olympic._spring
        .banner__image-mobile
            background: url("../images/1-9.png") center no-repeat
            background-size: auto 100%
            padding-top: 65%

        .layout-positioner
            background-image: url("../images/1-9.png")
            background-size: 550px auto
            background-position: bottom 50px right

            @media (max-width: $screenXL)
                background-size: 450px auto

            @media (max-width: $screenL - 1)
                background: none

        .banner__slogan
            .marked
                &:after
                    background-color: #f49002

    &.big._icecream._olympic._8mar
        .banner__image-mobile
            background: url("../images/1-11.png") center no-repeat
            background-size: auto 100%
            padding-top: 65%

        .layout-positioner
            background-image: url("../images/1-11.png")
            background-size: 528px auto
            background-position: bottom 50px right

            @media (max-width: $screenXL)
                background-size: 450px auto

            @media (max-width: $screenL - 1)
                background: none

        .banner__slogan
            max-width: 550px

            .marked
                &:after
                    background-color: #e91061

    &.big._icecream._olympic._sprvac
        .banner__image-mobile
            background: url("../images/1-12.png") center no-repeat
            background-size: auto 100%
            padding-top: 65%

        .layout-positioner
            background-image: url("../images/1-12.png")
            background-size: 520px auto
            background-position: bottom 50px right

            @media (max-width: $screenXL)
                background-size: 400px auto

            @media (max-width: $screenL - 1)
                background: none

        .banner__slogan
            max-width: 550px

            .marked
                &:after
                    background-color: #f51431

    &.big._icecream._olympic
        .banner__image-mobile
            background: url("../images/1-5.png") center no-repeat
            background-size: auto 100%
            position: relative

        .layout-positioner
            background-image: url("../images/1-5.png")
            background-position: bottom right
            background-size: 540px auto

            @media (max-width: $screenL - 1)
                background: none

        .banner__link
            @media (max-width: $screenM)
                margin-bottom: 0

        .banner__rules
            font-size: 9px
            color: #fff
            opacity: .6
            display: block
            text-align: center

            @media (max-width: $screenL - 1)
                display: none

            &._mob
                display: none

                @media (max-width: $screenL - 1)
                    display: block

                @media (max-width: $screenM)
                    margin-bottom: 20px

        .banner__slogan
            font-weight: normal
            letter-spacing: 1px

            @media (max-width: $screenM)
                max-width: 275px
                letter-spacing: normal

            .sup
                max-width: 125px

                @media (max-width: $screenL - 1)
                    max-width: 190px

            .marked
                &:after
                    content: ''
                    display: block
                    position: absolute
                    width: 115%
                    height: 80px
                    top: 50%
                    left: -8%
                    background-color: #e3011e
                    border-radius: 50px
                    transform: rotate(-2deg) translateY(-50%)
                    background-image: none
                    z-index: 0

                    @media (max-width: $screenM)
                        height: 32px

    &.big._icecream._ny
        .banner__image-mobile
            background: url("../images/1-3.png") center no-repeat
            background-size: auto 100%
            position: relative

        .layout-positioner
            background-image: url("../images/1-3.png")
            background-size: 420px auto

            @media (max-width: $screenL - 1)
                background: none

        .banner__slogan
            font-weight: normal
            letter-spacing: 1px

            @media (max-width: $screenM)
                max-width: 275px
                letter-spacing: normal

            .marked
                &:after
                    content: ''
                    display: block
                    position: absolute
                    width: 115%
                    height: 80px
                    top: 21px
                    left: -8%
                    background-color: #e3011e
                    border-radius: 50px
                    transform: rotate(-2deg)
                    background-image: none
                    z-index: 0

                    @media (max-width: $screenM)
                        height: 32px
                        top: 7px

        .banner__lights, .banner__lights-mob
            position: absolute
            left: 25px
            top: 80px
            width: 68.6%
            height: 317px
            background: url("../images/lights.png") center no-repeat
            background-size: contain
            z-index: 3
            pointer-events: none

            @media (max-width: $screenL - 1)
                display: none

        .banner__lights-mob
            background: url("../images/lights_mob.png") center no-repeat
            background-size: contain
            left: -18px
            top: -159px
            width: 110%

            @media (max-width: 500px)
                display: block

    &.big._icecream
        background: #4193cf
        height: 630px
        box-sizing: border-box
        padding-bottom: 30px

        @media (max-width: $screenL - 1)
            height: auto
            box-sizing: border-box

        @media (max-width: $screenM)
            padding: 0

        .banner__line
            display: flex
            align-items: center
            font-size: 0

            @media (max-width: $screenL - 1)
                justify-content: center

        .banner__image-mobile
            padding-top: 63%
            width: 68%
            background: url("../images/1-2.png") center no-repeat
            background-size: auto 100%
            margin: 40px auto 20px
            display: none

            @media (max-width: $screenL - 1)
                display: block

            @media (max-width: $screenM)
                margin-top: 20px
                margin-bottom: 27px
                padding-top: 70%

        .banner__col
            width: 795px

            @media (max-width: $screenL - 1)
                width: 100%

        .banner__btns
            @media (max-width: $screenM)
                max-width: none
                flex-direction: row

        .banner__link
            margin-right: 6px
            font-weight: 400
            padding-left: 12px
            padding-right: 12px
            transition: all .3s ease-in-out

            &:hover
                background-color: #fff
                color: #4193cf

            @media (max-width: $screenM)
                font-size: 12px
                padding: 4px 12px

        .banner__slogan
            font-size: 94px
            line-height: 99px

            @media (max-width: $screenL - 1)
                max-width: 670px
                padding-top: 50px

            @media (max-width: $screenM)
                font-size: 36px
                line-height: 38px
                max-width: 255px
                padding-top: 36px
                letter-spacing: normal

            .sup
                margin-left: 10px
                font-size: 16px
                line-height: 1.2
                font-family: $font
                color: #fff
                max-width: 95px
                display: inline-block
                text-decoration: underline
                vertical-align: super
                letter-spacing: normal

                @media (max-width: $screenL - 1)
                    max-width: none
                    display: block
                    font-size: 24px
                    margin-left: 0

                @media (max-width: $screenM)
                    font-size: 12px
                    margin-top: 5px

                &:hover
                    text-decoration: none

            .marked
                position: relative

                span
                    position: relative
                    z-index: 1

                &:after
                    content: ''
                    display: block
                    width: 125%
                    height: 94px
                    position: absolute
                    top: 10px
                    left: -10%
                    background: url("../images/mark.png") center no-repeat
                    background-size: contain
                    z-index: 0

                    @media (max-width: $screenM)
                        height: 43px
                        top: 0

        .layout-positioner
            background-image: url("../images/1-2.png")
            background-size: 480px auto
            background-position: bottom 40px right

            @media (max-width: $screenXL - 1)
                padding-bottom: 80px

            @media (max-width: $screenL - 1)
                padding-right: 50px
                padding-left: 50px
                background: none

            @media (max-width: $screenM)
                padding-bottom: 20px
                padding-right: 0
                padding-left: 0

        .banner__subtitle
            font-size: 31px
            line-height: 34px
            max-width: 348px
            font-family: $font-alt
            font-weight: 400
            margin-bottom: 0
            margin-right: 6px

            @media (max-width: $screenL - 1)
                display: none

    &.big 
        height: 600px

        @media (max-width: $screenM)
            height: 460px

        html[lang="kk"] &
            @media (max-width: $screenL - 1)
                .layout-positioner
                    background-image: none

        .banner__slogan 
            margin-bottom: auto
            padding-top: 89px
            max-width: 650px
            font-size: 76px
            line-height: 91.333333px

            @media (max-width: $screenXL - 1)
                padding-top: 130px
                font-size: 66px
                line-height: 80px

            @media (max-width: $screenM)
                padding-top: 70px
                max-width: 320px
                font-size: 34px
                line-height: 41px

        .layout-positioner
            padding-bottom: 60px
            padding-top: 0
            background-position: bottom 0 right 11px

            @media (max-width: $screenXL - 1)
                padding-bottom: 40px

            @media (max-width: $screenL - 1)
                background-size: auto 440px
                background-position: bottom 0 right -225px

        .banner__link 
            margin-right: 30px
            padding: 9px 30px 8px 30px 
            font-size: 16px
            line-height: 21px

            @media (max-width: $screenM)
                margin-left: auto
                margin-right: auto
                margin-bottom: 20px
                margin-top: 0

        .btn--transparent
            padding: 7px 28px 6px 28px

        &._ukr

            .layout-positioner
                background-image: url("../images/bitmap.png")
                background-size: 522px auto
                background-position: bottom right 20px

                @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx)
                    background-image: url("../images/bitmap@2x.png")

                @media (max-width: $screenM)
                    background-image: none

    &.club 

        .banner__col 
            width: 700px

            @media (max-width: $screenM)
                width: 100%

        .banner__slogan 
            margin-bottom: 40px
            max-width: 700px

        .banner__subtitle 
            margin-bottom: 20px

        .banner__link 
            max-width: 193px

    .layout-positioner 
        box-sizing: border-box
        padding: 20px 0 40px 0
        height: 100%
        background-image: url("../images/1.png")
        background-repeat: no-repeat 
        background-size: 531px auto
        background-position: bottom -105px right 11px

        @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx)
            background-image: url("../images/1@2x.png")

        @media (max-width: $screenL - 1)
            background-position: bottom -105px right -125px

        @media (max-width: $screenM)
            background-image: none
            background-size: auto 435px
            background-position: bottom 0 right -220px

    &._ukr

        .layout-positioner
            background-image: url("../images/bitmap.png")
            background-size: 419px auto
            background-position: bottom right 40px

            @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx)
                background-image: url("../images/bitmap@2x.png")

            @media (max-width: $screenM)
                background-image: none


    &__btns 

        @media (max-width: $screenM)
            display: flex
            flex-direction: column
            max-width: 286px

    &__col 
        display: flex
        flex-direction: column 
        padding-left: 10px
        width: 590px
        height: 100%

        @media (max-width: $screenM)
            box-sizing: border-box 
            padding: 0 17px
            width: 100%

    &__link 
        margin-top: auto
        padding-left: 20px
        padding-right: 20px
        max-width: 226px
        font-size: 16px
        line-height: 21px

        @media (max-width: $screenM)
            margin-left: auto
            margin-right: auto
            margin-top: 52px

    .btn
        padding-left: 20px
        padding-right: 20px
        font-size: 16px
        line-height: 21px

        @media (max-width: $screenM)
            padding-left: 35px
            padding-right: 35px

    &__subtitle
        margin: 0
        margin-bottom: 20px

        @media (max-width: $screenM)
            margin-top: 65px
            max-width: 286px
            text-align: center
            font-size: 15px
            line-height: 20px

    &__tag 
        display: flex
        margin: 0
        margin-bottom: 69px
        line-height: 2

        @media (max-width: $screenM)
            margin-bottom: 80px

        svg 
            display: block
            margin-right: 10px
            width: 30px
            height: 32px

    &__slogan 
        margin: 0
        margin-bottom: 40px
        font-family: $font-alt 
        font-weight: 400
        font-size: 54px
        line-height: 65px

        br 
            display: none

            @media (max-width: $screenM)
                display: block

        @media (max-width: $screenXL - 1)
            font-size: 53px

        @media (max-width: $screenM)
            max-width: 286px
            font-size: 34px
            line-height: 41px

.banner-table 
    display: flex 
    margin-top: 27px

    @media (max-width: $screenM)
        display: none

    &__col 
        width: 200px

    b 
        font-weight: 700
        font-size: 46px
        line-height: 47px
        font-family: 'Roboto Condensed', Arial, sans-serif
        color: #fff

    p
        margin: 0
        color: #fff

.banner-slider__container
    .swiper-pagination
        display: block !important
        bottom: 40px

        @media (max-width: $screenM)
            bottom: 10px !important

    .swiper-pagination-bullet
        background-color: transparent !important
        border: 1px solid #fff

        &-active
            background-color: #fff !important

    .swiper-button-prev, .swiper-button-next
        width: 0
        height: 0
        border-style: solid
        background-image: none

        @media (max-width: $screenXL - 1)
            top: 93%

        @media (max-width: $screenL - 1)
            top: 50%

    .swiper-button-prev
        border-width: 12.5px 21.7px 12.5px 0
        border-color: transparent #ffffff transparent transparent


    .swiper-button-next
        border-width: 12.5px 0 12.5px 21.7px
        border-color: transparent transparent transparent #ffffff
