.blog-preview 
    padding-bottom: 60px
    text-align: center
    background-color: #e5e8ef

    .section__inner
        justify-content: flex-start

    .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet
            background-color: #fff

            &.swiper-pagination-bullet-active
                background-color: $blueText

    &.dark 
        background-color: #e5e8ef

        .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet
            background-color: #fff

            &.swiper-pagination-bullet-active
                background-color: $blueText

    @media (max-width: $screenL - 1)
        overflow: hidden

    @media (max-width: $screenM)
        padding-bottom: 40px

    &__link 
        margin-top: 20px

    .btn 
        padding: 10px 35px
        font-size: 16px
        line-height: 21px

        @media (max-width: $screenM)
            margin-top: 0

    .swiper-container-horizontal>.swiper-pagination-bullets

        @media (max-width: $screenM)
            bottom: 33px

.blog-slider

    .mobile-slider-wrapper

        @media (max-width: $screenL - 1)
            flex-wrap: nowrap
    
    @media (max-width: $screenL - 1)
        box-sizing: border-box 
        width: 100%

    &.layout-positioner 
    
        @media (max-width: $screenL - 1)
            margin: 0 auto 
            min-width: 320px
            max-width: 320px
            overflow: visible

        @media (max-width: $screenM)
            padding-bottom: 90px

.blog-post
    position: relative
    display: flex
    flex-direction: column
    margin-bottom: 20px
    margin-right: 20px
    width: 380px
    height: 524px
    text-align: left
    border-radius: 22px

    &:nth-child(3n)
        margin-right: 0

    &.mobile-slide

        @media (max-width: $screenL - 1)
            padding-top: 0
            margin-right: 0 !important

        @media (max-width: $screenM)
            padding-left: 17px
            padding-right: 17px

    @media (max-width: $screenXL - 1)
        width: 32%
        margin-right: 2%

    @media (max-width: $screenM)
        margin-bottom: 0
        height: 447px

    &__tag 
        position: absolute
        left: 20px
        top: 243px
        padding: 6px 15px 5px 15px
        text-align: center
        color: #fff 
        background-color: $blue
        background-image: linear-gradient(to bottom, #3691f2, #3ea4f5)
        border-radius: 16px

        @media (max-width: $screenXL - 1)
            top: 24px

        @media (max-width: $screenM)
            top: 142px
            left: 33px

    &__image 
        display: block
        max-height: 260px
        border-radius: 22px 22px 0 0
        overflow: hidden

        @media (max-width: $screenM)
            max-height: 160px

        img 
            display: block
            width: 100%
            height: auto

    &__content 
        display: flex
        flex-direction: column
        flex-grow: 2
        padding: 27px 20px 38px 20px
        background-color: #fff 
        border-radius: 0 0 22px 22px
        overflow: hidden

        .dark &
            background-color: #fff

        @media (max-width: $screenM)
            padding: 24px 10px 23px 18px

    &__title 
        margin: 0 0 10px 0
        font-weight: 700
        font-size: 16px
        line-height: 21px

        a 
            color: $blueText

    &__text 
        margin: 0
        max-height: 116px 
        font-size: 14px
        line-height: 19.333333px
        color: #000
        overflow: hidden

        @media (max-width: $screenM)
            max-height: 132px

    &__footer 
        display: flex
        margin-top: auto

    &__date 
        margin-left: auto
        font-size: 14px
        line-height: 19px
        color: rgba(0, 0, 0, 0.4)

        @media (max-width: $screenM)
            margin-right: 10px

.action-button 
    display: flex
    margin-right: 16px
    font-size: 14px
    line-height: 19px
    color: $textColor
    transition: opacity 0.4s ease

    &:hover 
        opacity: 0.8

    img,
    svg 
        display: block
        margin-right: 8px
        align-self: center

    span 
        align-self: center

.like-img 
    width: 20px
    height: 17px

.share-img
    margin-top: -3px
    width: 21px
    height: 18px