.blog-articles
    position: relative
    margin-bottom: 20px

    &__wrapper 
        display: flex 
        flex-wrap: wrap 
        //justify-content: space-between
        justify-content: flex-start
        margin-bottom: 45px

        @media (max-width: $screenL)
            margin: 0 auto 
            margin-bottom: 45px
            max-width: 800px

        @media (max-width: $screenM)
            max-width: 320px

    &__link 
        position: absolute
        left: 50%
        transform: translateX(-50%)
        bottom: -9px
        font-size: 16px
        line-height: 21px
        padding: 10px 35px  
        border-radius: 22px

        @media (max-width: $screenM)
            display: none

    .blog-post 

        &__content
            background-color: #e5e8ef

        &:nth-child(2n)
            @media (max-width: $screenL)
                margin-right: 0 !important

        &:nth-child(3n)
            @media (max-width: $screenL)
                margin-right: 2.5%

        @media (max-width: $screenL)
            width: 48.75%
            margin-right: 2.5%

        @media (max-width: $screenM)
            margin-bottom: 20px
            width: 100%
            margin-right: 0 !important