.btn 
    display: inline-block
    vertical-align: top
    box-sizing: border-box
    padding: 10px 35px
    text-align: center
    font-family: $font
    font-weight: 700
    background-color: $transparent
    border: none 
    border-radius: 22px
    outline: none 
    transition: opacity 0.4s ease
    cursor: pointer

    &--blue 
        color: #fff
        background-color: #3ea4f5
        background-image: linear-gradient(to bottom, #3691f2, #3ea4f5)

    &--yellow 
        color: #fff
        background-image: linear-gradient(to bottom, #fcc10c, #fc930e)

    &--white 
        color: $yellow
        background-color: #fff 

    &--transparent 
        color: #fff
        background-color: $transparent 
        border: 2px solid #fff
        transition: opacity 0.4s ease

        &:hover,
        &:focus,
        &:active 
            opacity: 0.8

    &:disabled 
        color: rgba(0, 0, 0, 0.4)
        background-color: #e5e8ef
        background-image: none

        &:hover,
        &:focus,
        &:active 
            opacity: 1

    &:hover,
    &:focus,
    &:active 
        opacity: 0.9

    &._hidden
        display: none