.catalog
    font-size: 0
    padding-bottom: 40px

    .blog-slider.layout-positioner

        @media (max-width: $screenL - 1)
            padding-bottom: 45px

    .mobile-slide

        @media (max-width: $screenL - 1)
            padding-top: 0

    .swiper-pagination 

        @media (max-width: $screenL - 1)
            bottom: 20px

    &__wrapper 
        display: flex 
        flex-wrap: wrap
        margin-bottom: 20px

.catalog-item
    display: inline-block
    vertical-align: top
    box-sizing: border-box
    margin-left: 1.694%
    margin-bottom: 1.694%
    font-size: 16px
    width: 23.729%
    height: 360px
    text-decoration: none
    background-color: #fff
    border-radius: 22px

    @media (max-width: $screenL - 1)
        width: 32.2%

        &:nth-child(3n + 1)
            margin-left: 0 !important

    @media (max-width: $screenM - 1)
        width: 49.15%

        &:nth-child(3n + 1)
            margin-left: 1.694% !important

        &:nth-child(2n + 1)
            margin-left: 0 !important

    @media (max-width: 520px)
        width: 100%
        margin-left: 0 !important

        &:nth-child(3n + 1)
            margin-left: 0 !important

    &:nth-child(4n + 1)
        margin-left: 0

        @media (max-width: $screenL - 1)
            margin-left: 1.694%

    &__inner
        position: relative
        box-sizing: border-box
        display: flex 
        flex-direction: column
        padding: 25px 16px 20px 16px
        height: 100%

        &:before 
            content: ""
            position: absolute
            top: 0
            bottom: 0
            left: 0
            right: 0
            background-image: linear-gradient(to bottom, rgba(63, 163, 240, 0.8), rgba(63, 163, 240, 0.6))
            border-radius: 22px
            z-index: 1

            ._points60 & 
                background-image: linear-gradient(to bottom, rgba(25, 118, 193, 0.8), rgba(25, 118, 193, 0.6))

            ._points60_2 & 
                background-image: linear-gradient(to bottom, rgba(251, 160, 0, 0.8), rgba(251, 160, 0, 0.6))

        &>*
            position: relative
            z-index: 1

    &__img 
        position: static
        margin-bottom: 7px
        z-index: 0

        img 
            display: block
            margin: 0 auto 
            width: 250px
            max-width: 100%
            height: auto

    .flag 
        position: absolute
        top: 125px
        left: 50%
        transform: translateX(-50%) rotate(-15deg)
        padding: 0 20px 4px 20px
        text-align: center
        font-family: $font-alt 
        font-weight: 400
        font-size: 32px
        line-height: 38px
        color: $blueText
        white-space: nowrap
        background-color: #fff
        border-radius: 22px
        z-index: 2

    &__points
        display: inline-block
        vertical-align: top
        margin: auto auto 5px 0
        padding: 7px 13px 4px 13px 
        font-weight: 700
        color: $yellow 
        background-color: #fff
        border-radius: 16px

    &__title 
        margin: 0
        padding-top: 4px
        font-weight: 400
        color: #fff
        line-height: 17px