.categories 
    display: flex
    margin-bottom: 30px

    @media (max-width: $screenM)
        display: none

    &__title 
        margin: 0 20px 0 0
        line-height: 32px

    ul 
        margin: 0
        padding: 0
        list-style: none 
        display: flex
        flex-wrap: wrap

    li 
        margin-right: 10px
        margin-bottom: 10px

        &.active 

            a 
                padding: 7px 16px 6px 16px
                color: #fff
                background-image: $g-blue 
                border: none 

    a 
        display: inline-block 
        vertical-align: top
        padding: 6px 15px 5px 15px
        color: rgba(0, 0, 0, 0.6)
        border: 1px solid rgba(0, 0, 0, 0.6)
        border-radius: 16px