.certificates 
    padding-top: 92px
    background-color: #fff

    &.section
        padding-top: 92px

        @media (max-width: $screenM)
            padding-top: 40px

    .layout-positioner:nth-child(1)
        z-index: 1

    &.section

        .layout-positioner:nth-child(2)
            z-index: 1

    &__inner 
        display: flex 
        justify-content: space-between

    .section__title 
        margin-bottom: 70px

    @media (max-width: $screenL - 1)
        padding: 0
        overflow: hidden

    .mobile-slide 

        @media (max-width: $screenXL - 1)
            width: 24%

.certificates-slider.layout-positioner

    @media (max-width: $screenL - 1)
        margin: 0 auto 
        min-width: 320px
        max-width: 500px
        overflow: visible

        @media (max-width: $screenM)
            max-width: 320px

.mobile-slider 

    @media (max-width: $screenL - 1)
        padding-bottom: 74px

.mobile-slide 
    width: 280px
    height: 360px

    @media (max-width: $screenL - 1)
        box-sizing: border-box
        padding-top: 65px
        padding-left: 10px
        padding-right: 10px
        height: auto
        opacity: 0.4
        transition: opacity 0.4s ease
        pointer-events: none

    @media (max-width: $screenM)
        padding-top: 60px

    &.swiper-slide-active

        @media (max-width: $screenL - 1)
            opacity: 1
            pointer-events: auto

.certificate 
    position: relative
    display: block
    color: #fff
    background-color: #fff
    border-radius: 22px

    .button-hover
        position: absolute
        top: 20px
        left: 20px
        right: 20px
        text-align: center
        font-weight: 700
        color: #fff
        opacity: 0
        transition: opacity 0.4s ease

        @media (max-width: $screenM)
            top: 7px

    .button-text
        transition: opacity 0.4s ease

        &._request
            padding: 6px 17px
            color: #fff
            border-radius: 16px
            margin-left: 20px

            @media (max-width: $screenM)
                display: block
                margin: 0

    &:hover,
    &.available

        .certificate__button
            color: #fff
            background-image: linear-gradient(to bottom, #fcc10c, #fc930e)

        .certificate__hover-block
            opacity: 1

        .certificate__content
            opacity: 0

        .button-hover
            opacity: 1

        .button-text
            opacity: 0

    &-1

        .certificate__body
            background-image: linear-gradient(#3fa3f0, #51baf5)

    &-2

        .certificate__body
            background-image: linear-gradient(#1976c1, #218ed3)

    &-3

        .certificate__body
            background-image: linear-gradient(#1c538d, #2568a5)

    &-4

        .certificate__body
            background-image: linear-gradient(#fba000, #fcb700)

    &__hover-block
        position: absolute
        top: 94px
        left: 20px
        right: 20px
        opacity: 0
        transition: opacity 0.4s ease

        @media (max-width: $screenM)
            top: 60px
            left: 10px
            right: 10px

    &__flag 
        position: absolute
        top: -40px
        left: 10px
        display: flex 
        flex-direction: column
        justify-content: center
        width: 79px
        height: 79px
        font-family: "Roboto Condensed", sans-serif
        font-size: 18px
        font-weight: 700
        line-height: 17px
        text-align: center
        color: #ffffff
        background-image: linear-gradient(to bottom, #fcc10c, #fc930e)
        border-radius: 50%

        @media (max-width: $screenM)    
            top: -24px
            left: 6px
            width: 48px
            height: 48px
            font-size: 10px
            line-height: 11px

        span 
            display: block
            text-align: center
            transform: rotate(-15deg)

    &__body 
        box-sizing: border-box
        padding: 40px 30px 30px 30px
        height: 300px
        border-radius: 22px 22px 0 0
        background-repeat: no-repeat
        background-size: cover
        background-position: center

        @media (max-width: $screenXL - 1)
            padding: 40px 17px 30px 17px

        @media (max-width: $screenM)
            padding: 30px 8px 20px 8px
            height: auto
            min-height: 200px

    &__content
        transition: opacity 0.4s ease

    &__title 
        margin: 0
        margin-bottom: 30px
        text-align: center
        font-weight: 400
        font-size: 18px
        line-height: 24px
        color: #fff

        @media (max-width: $screenM)
            margin-bottom: 20px
            font-size: 16px
            line-height: 21px

    &__text 
        margin: 0
        font-size: 14px
        line-height: 19px
        color: #fff

        @media (max-width: $screenM)
            font-size: 12px
            line-height: 15px

    &__price 
        position: relative
        margin: 0
        margin-top: 50px
        text-align: center
        font-family: "Roboto Condensed", sans-serif
        font-weight: 700
        font-size: 46px
        line-height: 60px
        color: #fff

        @media (max-width: $screenM)
            margin-top: 30px
            font-size: 36px
            line-height: 40px

        &:before 
            content: ""
            position: absolute
            top: -36px
            left: 37px
            right: 36px
            height: 2px
            background-color: #fff

            @media (max-width: $screenM)
                top: -21px
                height: 1px

        &._no-border

            &:before
                display: none

    &__button 
        position: relative
        padding: 20px
        text-align: center
        font-weight: 400
        color: $blueText
        background-color: #e5e8ef
        border-radius: 0 0 22px 22px
        transition: background-color 0.4s ease, background-image 0.4s ease, color 0.4s ease

        @media (max-width: $screenM)
            padding: 7px

    .ozon-logo
        display: block
        margin-left: -14px
        margin-top: -6px
        width: 247px
        height: 75px

        @media (max-width: $screenXL - 1)
            margin-left: 0
            width: 100%
            height: auto

    &__image-wrapper
        height: 85px

        img
            display: block
            margin: 0 auto
            margin-top: -14px

.swiper-pagination
    display: none

    @media (max-width: $screenL - 1)
        display: block

.swiper-container-horizontal>.swiper-pagination-bullets

    @media (max-width: $screenM)
        bottom: 16px

.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet
    margin: 0 10px
    width: 10px
    height: 10px
    background-color: #e5e8ef
    opacity: 1

    &.swiper-pagination-bullet-active
        background-color: $blueText

.certificate-1 .button-text._request
    background-image: -webkit-gradient(linear, left top, left bottom, from(#3fa3f0), to(#51baf5))
    background-image: -webkit-linear-gradient(#3fa3f0, #51baf5)
    background-image: linear-gradient(#3fa3f0, #51baf5)

.certificate-2 .button-text._request
    background-image: -webkit-gradient(linear, left top, left bottom, from(#1976c1), to(#218ed3))
    background-image: -webkit-linear-gradient(#1976c1, #218ed3)
    background-image: linear-gradient(#1976c1, #218ed3)

.certificate-3 .button-text._request
    background-image: -webkit-gradient(linear, left top, left bottom, from(#1c538d), to(#2568a5))
    background-image: -webkit-linear-gradient(#1c538d, #2568a5)
    background-image: linear-gradient(#1c538d, #2568a5)

.certificate-4 .button-text._request
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fba000), to(#fcb700))
    background-image: -webkit-linear-gradient(#fba000, #fcb700)
    background-image: linear-gradient(#fba000, #fcb700)