.selectric-wrapper
    width: 100%
    background-color: #e5e8ef
    border: none
    border-radius: 4px

.selectric
    height: 32px
    font-size: 14px
    line-height: 32px
    border: none
    border-radius: 4px
    background-color: $transparent

    .button
        background-color: $transparent
        width: 10px
        height: 32px

        &:after
            content: ""
            position: absolute
            top: 13px
            right: 6px
            bottom: auto
            left: auto
            margin: 0
            width: 0
            height: 0
            border: none
            border-style: solid
            border-width: 8px 5px 0 5px
            border-color: $blueText transparent transparent transparent
            transition: transform 0.2s ease

            .selectric-open &
                margin-top: -2px
                transform: scale(1,-1)

    .label
        display: block
        margin: 0
        padding: 2px 14px 0 8px
        font-size: 14px
        line-height: 32px
        color: rgba(0, 0, 0, 0.5)

.selectric-above .selectric-items
    bottom: auto
    top: 100%

.selectric-open
    border-radius: 4px 4px 0 0

.selectric-items
    border: 1px solid #e5e8ef
    //max-height: 250px
    background-color: #fff
    border-top: none
    border-radius: 0 0 4px 4px
    z-index: 5
    overflow-y: auto

    li
        padding-top: 9px
        padding-bottom: 3px
        font-size: 14px
        line-height: 1em

.date-wrapper

    .form__select-wrapper
        margin-right: 10px

        &:first-child
            max-width: 54px

        &:nth-child(2)
            max-width: 54px

        &:nth-child(3)
            max-width: 70px
