.earn-points 
    padding-bottom: 51px

    @media (max-width: $screenM)
        padding-bottom: 40px

    &__inner 
        margin-top: -20px

        @media (max-width: $screenM)
            flex-direction: column

    &__item 
        display: flex
        box-sizing: border-box 
        margin-top: 20px
        padding: 10px 10px 10px 20px
        width: 380px
        color: #fff
        border-radius: 22px
        background-color: #7FC9F5
        background-image: linear-gradient(#3fa3f0, #7FC9F5)

        @media (max-width: $screenXL - 1)
            width: 32%

        @media (max-width: $screenM)
            width: 100%

        &:nth-child(2n),
        &:nth-child(4n) 
            background-image: linear-gradient(#1c538d, #2969A3)

        &:nth-child(3n)
            background-image: linear-gradient(#1976c1, #2A90D0)

        &:nth-child(6n) 
            background-image: linear-gradient(to bottom, #fc930e, #fcc10c)

    p 
        margin: 0
        align-self: center

    &__badge 
        box-sizing: border-box
        margin-left: auto
        padding: 10px
        width: 80px
        height: 80px
        background-color: $transparent
        border-radius: 50%

        span 
            display: flex
            flex-direction: column 
            justify-content: center
            width: 60px
            height: 60px
            text-align: center
            font-weight: 700
            font-size: 32px
            line-height: 43px
            color: $yellow
            letter-spacing: -4.1px;
            border-radius: 50%
            background-color: #fff