.faq-block 
    padding-bottom: 50px

    @media (max-width: $screenM)
        padding-bottom: 20px

.question 

    &__header 
        position: relative
        margin-bottom: 10px
        padding: 13px 60px 10px 20px
        color: $blueText
        background-color: #e5e8ef
        border-radius: 22px
        transition: background-color 0.3s ease, color 0.3s ease

        @media (max-width: $screenM)
            margin-bottom: 20px
            padding: 12px 51px 10px 20px

        .opened & 
            color: #fff
            background-image: $g-lightBlue

        &:before 
            content: ""
            position: absolute
            right: 21px
            top: 50%
            transform: translateY(-50%)
            width: 0
            height: 0
            border-style: solid
            border-width: 10px 6px 0 6px
            border-color: $blueText $transparent $transparent $transparent
            transition: transform 0.2s ease

            .opened & 
                border-color: #fff $transparent $transparent $transparent
                transform: translateY(-50%) scale(1,-1)

    &__body  
        padding-left: 20px
        max-width: 821px
        font-size: 14px
        line-height: 21px
        color: rgba(0, 0, 0, 0.8)
        max-height: 0
        overflow: hidden 
        transition: max-height 0.3s ease, padding 0.2s ease

        @media (max-width: $screenM)
            padding: 0

        .opened & 
            padding: 12px 0 20px 20px 
            max-height: 1000px 

            @media (max-width: $screenM)
                padding: 0 0 20px 0