.form

    .btn
        padding: 11px 35px 9px 35px
        font-size: 16px
        line-height: 21px

    &__select-wrapper
        display: inline-block
        vertical-align: top

        &.full-width
            //flex-grow: 1
            width: calc(100% - 164px)

    &__checkbox
        width: 0
        height: 0
        overflow: hidden
        position: absolute
        left: -1500px

        &:checked ~ .form__field-label._checkbox
            &:after
                transform: scale(1)

    &__fieldset 
        margin: 40px 0 0 0
        padding: 0
        width: 100%
        border: none

        @media (max-width: $screenM)
            width: 100%
            max-width: 396px
            margin-top: 0

        .profile-popup & 
            margin-top: 20px

            @media (max-width: $screenM)
                margin-top: 0

    .reg-step
        position: relative
        opacity: 0
        z-index: -1
        height: 0
        overflow: hidden
        transition: opacity .3s

        &.active
            opacity: 1
            z-index: 1
            height: auto

            @media (max-width: 480px)
                flex-direction: column

    &__row 
        //display: flex
        display: block
        margin-bottom: 10px
        width: 100%
        font-size: 0

        &._small

            .form__field-wrapper
                max-width: 194px

    &__field-label 
        //display: block
        margin: 0
        width: 160px
        font-size: 14px
        line-height: 32px
        color: $blueText
        vertical-align: top
        display: inline-block

        @media (max-width: $screenM)
            line-height: 19px
            margin-bottom: 5px
            display: block

        .invalid & 
            color: $red

        &._checkbox
            color: #000
            width: 100%
            font-size: 14px
            line-height: 20px
            margin-top: 7px
            padding-left: 30px
            position: relative

            &:before
                content: ''
                display: block
                position: absolute
                left: 0
                top: 0
                width: 20px
                height: 20px
                border-radius: 4px
                background-color: #e5e8ef

            &:after
                content: ''
                display: block
                position: absolute
                left: 0
                top: 0
                width: 20px
                height: 20px
                background: url("../images/tick.png") center no-repeat
                background-size: 14px 14px
                transform: scale(0)
                transition: transform .2s ease-in-out
                transform-origin: 50% 50%
                z-index: 2

            a
                text-decoration: underline

            a:hover
                text-decoration: none

            a, a:hover, a:active
                color: #0c64ab

    &__field-wrapper,
    &__select-wrapper
        //display: flex
        min-width: 60px
        vertical-align: top
        display: inline-block
        width: calc(100% - 160px)

        @media (max-width: $screenM)
            //max-width: 246px
            width: 100%

        //.form__fieldset &
            max-width: 226px

            @media (max-width: $screenM)
                max-width: 246px

        &.full-width
            //flex-grow: 1
            width: calc(100% - 160px)

            @media (max-width: $screenM)
                width: 100%

        &.narrow 
            width: 60px

            @media (max-width: $screenM)
                flex-basis: 32px

    &__field 
        display: block
        box-sizing: border-box
        padding: 0 10px
        width: 100%
        font-family: $font
        font-size: 14px
        line-height: 32px
        transform: translateZ(0)
        height: 32px
        color: #000
        background-color: #e5e8ef
        border: none
        border-radius: 4px
        transition: opacity 0.4s ease

        .invalid & 
            color: $red
            background-color: rgba(180, 18, 38, 0.1)

        &:hover,
        &:focus,
        &:active 
            outline: none 
            opacity: 0.8

    &__actions 
        display: flex
        justify-content: center
        margin-top: 30px
        animation: fadeIn 0.6s

        .btn
            font-size: 16px
            line-height: 1

        &.disabled
            display: none

    &__link
        position: relative
        display: inline-block
        vertical-align: top
        margin-left: 20px
        padding: 0
        font-weight: 700
        line-height: 41px
        color: $textColor
        text-decoration: underline
        background-color: $transparent
        border: none
        transform: translateZ(0)
        transition: opacity 0.4s ease

        span 
            position: relative
            display: block
            text-shadow: 0px 1px 0px #fff
            z-index: 1

        &:hover,
        &:focus,
        &:active 
            outline: none
            opacity: 0.8

    &__reset-link
        margin-bottom: 18px
        font-size: 12px
        line-height: 16px
        color: $textColor
        text-decoration: underline

        @media (max-width: $screenM)
            margin-bottom: 0

    &__message
        vertical-align: top
        box-sizing: border-box
        padding: 7px 10px
        height: 80px
        width: calc(100% - 160px)
        font-size: 14px
        line-height: 19px
        color: #000
        background-color: #e5e8ef
        border: none
        border-radius: 4px
        transition: opacity 0.4s ease
        resize: none
        transform: translateZ(0)

        @media (max-width: $screenM)
            width: 100%

        .form__fieldset &
            @media (max-width: $screenM)
                //max-width: 246px

        &:hover,
        &:focus,
        &:active 
            outline: none 
            opacity: 0.8

    &__upload 
        position: absolute
        top: 0
        bottom: 0
        left: 0
        right: 0
        opacity: 0
        z-index: 2
        cursor: pointer
        width: 100%

        &:hover,
        &:focus 

            & + .form-ulpoad__link
                opacity: 0.6

    &__error-message
        position: relative
        margin: 18px 0 6px 0
        padding-left: 32px
        font-size: 12px
        line-height: 16px
        color: $red
        transition: opacity .2s

        @media (max-width: $screenM)
            margin: 10px 0 15px 0

        &:before 
            content: "!"
            position: absolute
            top: -3px 
            left: 0
            padding-top: 2px
            width: 22px
            height: 20px
            text-align: center
            font-weight: 700
            font-size: 16px
            line-height: 20px
            color: #fff
            background-color: $red 
            border-radius: 50%  

.form-ulpoad 
    position: relative
    //display: flex
    //flex-direction: column
    //justify-content: center
    display: inline-block
    vertical-align: top
    margin: 0 0 20px 0
    width: 100%
    height: 179px
    text-align: center
    background-color: #e5e8ef

    &__link
        position: absolute
        top: 0
        bottom: 0
        left: 0
        right: 0
        margin: auto
        height: 21px
        width: 100%
        padding-top: 70px
        color: $blueText 
        cursor: pointer
        transition: opacity 0.4s ease
        transform: translateZ(0)

        .form__row &
            height: auto

        &:before,
        &:after 
            content: ""
            position: absolute
            background-color: $blueText 

        &:before 
            top: 0
            left: 50%
            margin-left: -1px
            width: 2px
            height: 60px

        &:after 
            top: 29px
            left: 50%
            margin-left: -30px
            height: 2px
            width: 60px

.upload-field
    height: 32px
    width: calc(100% - 160px)
    text-align: left
    border-radius: 4px

    @media (max-width: $screenM)
        width: 246px

    .form-ulpoad__link
        padding-top: 2px
        padding-left: 60px
        font-size: 14px
        line-height: 30px
        color: rgba(0, 0, 0, 0.5)

        &:before,
        &:after
            background-color: #7f7f7f

        &:before
            top: 8px
            left: 18px
            margin: 0
            height: 16px

        &:after 
            top: 15px
            left: 11px
            margin: 0
            width: 16px

.social-login
    //display: flex
    display: inline-block
    vertical-align: top

.social-login-btn
    display: inline-block
    vertical-align: top
    margin-right: 12px
    width: 32px
    height: 32px
    text-align: center
    font-size: 0
    background-color: $blue
    border-radius: 4px
    transition: opacity 0.4s ease 

    &:hover,
    &:focus,
    &:auto
        opacity: 0.8

    &--fb 
        background-color: #275b98

        img 
            margin-top: 7px
            width: 9px
            height: 17px

    &--vk 
        background-color: #477498

        img 
            margin-top: 10px
            width: 20px
            height: 11px

.profile 
    //display: flex

    @media (max-width: $screenM)
        margin-bottom: 20px

    &__img
        display: inline-block
        vertical-align: middle
        margin-right: 18px
        width: 60px
        height: 60px
        border-radius: 50%
        overflow: hidden

        @media (max-width: $screenM)
            min-width: 60px

        img 
            display: block
            width: 100%
            height: auto

        &.upload 
            position: relative
            width: 80px
            height: 80px
            background-color: #e5e8ef
            background-image: url("../images/icon-camera.png")
            background-repeat: no-repeat 
            background-size: 30px auto 
            background-position: center

            input[type="file"]
                position: absolute
                top: 0
                bottom: 0
                left: 0
                right: 0
                opacity: 0

    &__name
        display: inline-block
        vertical-align: middle
        align-self: center
        color: #000

@keyframes fadeIn
    from
        opacity: 0
    to
        opacity: 1