.game 
    position: relative
    box-sizing: border-box
    padding: 27px 0 47px 0
    height: 640px
    background-image: url("../images/bg-game.jpg")
    background-repeat: no-repeat
    background-size: cover
    background-position: bottom center

    @media (max-width: $screenM)
        padding-top: 42px
        padding-bottom: 44px
        height: 520px

    @media (max-width: $screenM)
        background-position: bottom left -100px

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx)
        background-image: url("../images/bg-game@2x.jpg")

    &__title 
        margin: 0 0 9px 0
        text-align: center
        font-weight: 400
        font-family: $font-alt
        font-size: 54px
        line-height: 65px
        color: #fff

        @media (max-width: $screenM)
            font-size: 32px
            line-height: 38px

    .btn 
        padding: 20px 40px 22px 40px
        min-width: 240px
        font-size: 22px
        line-height: 29px
        border: none
        border-radius: 38.4px

.line 
    position: absolute
    top: 100px
    width: 100%
    height: 492px
    overflow: hidden

    @media (max-width: $screenM)
        top: 112px
        box-sizing: border-box
        padding-bottom: 90px
        height: 376px

.pin
    position: absolute
    top: 0
    left: 50%
    margin-left: -595px
    display: block
    width: 122px
    height: 492px
    z-index: 2

    &._anim
        transform-origin: 50% 95%
        animation: pinAnim 0.8s linear 5 both

    img 
        display: block
        width: 100%
        height: auto

    @media (max-width: $screenXL - 1)
        margin-left: -50%

    @media (max-width: $screenM)
        width: 67px
        height: 294px

.line-wrapper
    position: relative
    left: 50%
    display: flex
    align-items: flex-end
    margin-top: 81px
    margin-left: -400px

    @media (max-width: $screenXL - 1)
        margin-left: -30%

    @media (max-width: $screenM)
        margin-top: 41px

.line-item 
    margin-right: 22px
    width: 120px
    min-width: 120px
    overflow: hidden

    @media (max-width: $screenM)
        margin-right: 10px
        width: 70px
        min-width: 70px
        height: 166px

    img 
        position: relative
        display: block
        width: 100%
        height: auto

.rail 
    height: 68px
    background-image: url("../images/rail.png"), url("../images/rail-bottom.png"), url("../images/wheel.png")
    background-repeat: repeat-x 
    background-size: auto 19px, auto 19px, auto 78px 
    background-position: top left, bottom left, top 4px left

    @media (max-width: $screenM)
        height: 40px
        background-size: auto 11px, auto 11px, auto 44px


.game-btn
    position: absolute
    bottom: 36px
    left: 50%
    transform: translateX(-50%)

    @media (max-width: $screenM)
        bottom: 32px
        border-radius: 31px

@keyframes pinAnim
    0%
        transform: rotate(0deg)

    25%
        transform: rotate(-10deg)

    50%
        transform: rotate(0deg)

    75%
        transform: rotate(10deg)

    100%
        transform: rotate(0deg)