.history-block
    padding-bottom: 65px

    @media (max-width: $screenM)
        padding-bottom: 37px
    
    &__inner 
        display: flex 
        justify-content: space-between
        margin-top: 60px
        margin-bottom: 15px

        @media (max-width: $screenM)
            flex-direction: column
            margin-top: 0
            margin-bottom: 40px

.active-codes
    position: relative
    order: 2
    width: 31.44%

    @media (max-width: $screenM)
        order: 1
        width: 100%
        margin-bottom: 20px

    &__header 
        position: relative
        padding: 20px
        color: #fff
        background-color: $blue 
        background-image: $g-blue
        border-radius: 22px 22px 0 0

        @media (max-width: $screenM)
            border-radius: 22px
            transition: border-radius 0.1s ease

            .opened & 
                border-radius: 22px 22px 0 0
            
            &:before 
                content: ""
                position: absolute
                right: 21px
                top: 50%
                transform: translateY(-50%)
                width: 0
                height: 0
                border-style: solid
                border-width: 10px 6px 0 6px
                border-color: #ffffff transparent transparent transparent
                transition: transform 0.2s ease

                .opened & 

                    transform: translateY(-50%) scale(1,-1)

    &__title 
        margin: 0 0 20px 0
        font-size: 20px
        line-height: 26px

        @media (max-width: $screenM)
            margin-bottom: 0

    p
        margin: 0
        font-size: 14px
        line-height: 19px

        @media (max-width: $screenM)
            display: none

    a 
        color: #fff 

        &:hover 
            text-decoration: underline

    &__list 
        background-color: #e5e8ef
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.2))
        border-radius: 0 0 22px 22px

        @media (max-width: $screenM)
            position: absolute
            top: 100%
            left: 0
            right: 0
            max-height: 0
            overflow: hidden
            transition: max-height 0.4s ease 

            .opened & 
                max-height: 5000px

    ul 
        margin: 0
        padding: 10px 20px 20px 20px
        list-style: none

    li 
        padding: 20px 0
        font-weight: 700
        font-size: 20px
        line-height: 26px
        border-bottom: 1px solid rgba(0, 0, 0, 0.4)


.history
    order: 1
    width: 66.1%

    @media (max-width: $screenM)
        order: 2
        width: 100%

.history-table
    width: 100%

    @media (max-width: $screenM)
        display: block 

    &__btn
        box-sizing: border-box
        padding: 6px 10px 5px 10px
        width: 120px
        font-weight: 400
        font-size: 16px
        line-height: 21px

    tbody 

        @media (max-width: $screenM)
            display: block

    tr 
        border-bottom: 1px solid rgba(0, 0, 0, 0.4)

        @media (max-width: $screenM)
            display: block
            padding: 20px 0

            &:first-child
                padding: 0

        &:first-child,
        &:last-child
            border: none

    
    th 
        padding-bottom: 38px
        text-align: left
        font-size: 20px
        line-height: 26px
        color: $blueText

        @media (max-width: $screenM)
            display: none

    td 
        padding: 20px 0

        @media (max-width: $screenM)
            display: block
            width: 100%
            padding: 0
            margin-bottom: 10px

            &:last-child 
                margin: 0

        &:first-child 
            box-sizing: border-box
            width: 25.641%
            padding-right: 63px
            color: rgba(0, 0, 0, 0.4)

            @media (max-width: $screenL)
                padding-right: 20px

            @media (max-width: $screenM)
                width: 100%

        &:nth-child(2)
            box-sizing: border-box
            width: 51.282%
            padding-right: 61px

            @media (max-width: $screenL)
                padding-right: 20px

            @media (max-width: $screenM)
                width: 100%
