.main-navigation
    box-sizing: border-box
    padding: 29px 0 40px 0
    transition: all .3s ease-in-out
    z-index: 2

    @media (max-width: $screenXL - 1)
        padding: 24px 0 20px 0
        max-height: 82px

    @media (max-width: $screenL - 1)
        position: absolute
        right: 0
        left: 100px
        top: 0
        transform: translateX(120%)
        display: flex
        flex-direction: column
        padding-bottom: 0
        padding-top: 90px
        height: 100vh
        max-height: 60px
        background-color: #ffffff
        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2)
        overflow: hidden
        transition: max-height 0.4s ease, transform 0.4s ease

        .menu-opened &
            transform: translateX(0)
            max-height: 100vh

    &__list 
        display: flex
        margin: 0
        padding: 0
        list-style: none

        @media (max-width: $screenL - 1)
            flex-direction: column
            padding: 0 20px

    &__list-item 
        position: relative
        margin-right: 40px
        padding-top: 10px
        font-weight: 700

        @media (max-width: $screenXL - 1)
            margin-right: 30px

        @media (max-width: $screenL - 1)
            margin-right: 0
            margin-bottom: 20px

        &:before 
            content: ""
            position: absolute
            top: 21px
            left: 0
            right: 0
            height: 20px
            background-color: $transparent
            z-index: 1

        &:hover .subnavigation
            opacity: 1
            z-index: 1

    &__link 
        position: relative
        display: block
        text-decoration: none
        color: $blueText
        transition: opacity 0.4s ease

        &:hover,
        &:focus,
        &:active  
            opacity: 0.8

.subnavigation 
    position: absolute
    top: 41px
    left: 50%
    transform: translateX(-50%)
    margin: 0
    padding: 20px
    list-style: none
    background-image: linear-gradient(to top, #ffffff, rgba(255, 255, 255, 0.0)), linear-gradient(#ffffff, #ffffff)
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2)
    opacity: 0
    z-index: -100
    transition: opacity 0.4s ease

    &__item 
        margin-bottom: 20px
        font-weight: 400
        transition: opacity 0.4s ease

        &:hover,
        &:focus,
        &:active 
            opacity: 0.8

        &:last-child 
            margin-bottom: 0

    a 
        color: $blueText

.menu-trigger
    position: relative
    display: none
    margin-top: 17px
    //margin-left: auto
    padding: 9px 0
    width: 26px
    height: 22px
    font-size: 0
    background-color: $transparent
    border: none
    z-index: 3

    &:hover,
    &:focus,
    &:active
        opacity: 0.8
        outline: none

    span
        display: block
        width: 26px
        height: 4px
        background-color: $blueText
        border-radius: 4px

        .menu-opened &
            background-color: $transparent

        &:before,
        &:after
            content: ""
            position: absolute
            left: 0
            width: 26px
            height: 4px
            background-color: $blueText
            border-radius: 4px
            transition: transform 0.4s ease

            .menu-opened &
                top: 10px
                transform: rotate(45deg)

        &:before
            top: 0

        &:after
            bottom: 0

            .menu-opened &
                bottom: auto
                transform: rotate(-45deg)

    .menu-opened &
        width: 26px
        height: 26px

    @media (max-width: $screenL - 1)
        display: block