.paginator 
    display: flex

    p 
        margin: 0
        margin-right: 20px
        align-self: center
        color: #000

    ul 
        display: flex 
        margin: 0
        padding: 0
        list-style: none

    li 
        margin: 0 1px
        padding-top: 4px
        width: 23px
        height: 19px
        line-height: 19px
        text-align: center
        border-radius: 50%

        &:hover 
            opacity: 0.8

        &.current 
            background-image: $g-yellow

            a 
                color: #fff 
                font-weight: 700

    a 
        color: rgba(0, 0, 0, 0.6)

    .ellipsis 
        line-height: 27px

