.points-slider
    @media (max-width: $screenL - 1)
        overflow: hidden 

    .mobile-slider 

        @media (max-width: $screenL - 1)
            margin: 0 auto
            width: 320px
            overflow: visible
    
    .layout-positioner 
        display: flex
        justify-content: space-between

        @media (max-width: $screenL - 1)
            padding: 0

    &__img
        display: flex
        flex-direction: column 
        justify-content: center
        margin: 0 auto 
        margin-top: 20px
        width: 200px
        height: 200px
        background-color: #e5e8ef
        border-radius: 50%

        img 
            display: block
            margin: 0 auto

    &__text 
        margin: 0
        margin-top: auto
        min-height: 42px
        text-align: center

        @media (max-width: $screenL - 1)
            padding-left: 30px
            padding-right: 30px

        span 
            white-space: nowrap

        br 
            @media (max-width: $screenL - 1) 
                display: none

.points-slider-item
    position: relative
    width: 32.2%
    height: auto
    cursor: pointer

    @media (max-width: $screenL - 1) 
        padding-top: 0
        padding-right: 17px
        padding-left: 17px

    &__inner 
        position: absolute
        top: 0
        bottom: 0
        left: 0
        right: 0
        display: flex
        flex-direction: column 
        justify-content: space-between
        transition: opacity 0.4s ease

    .hover-block 
        display: flex
        flex-direction: column
        justify-content: space-between
        box-sizing: border-box 
        padding: 45px 20px 20px 20px
        width: 100%
        height: 326px;
        border-radius: 22px
        background-image: linear-gradient(#1976c1, #218ed3)
        opacity: 0
        transition: opacity 0.4s ease

        @media (max-width: $screenL - 1)
            padding: 20px
            height: 300px

        &__text 
            margin: 0
            margin-top: auto
            text-align: center
            color: #fff

            span 
                white-space: nowrap

        &__img 
            flex-grow: 1 
            display: flex
            flex-direction: column
            justify-content: center

            img 
                display: block
                max-width: 100% 
                height: auto
                margin: 0 auto

    &:hover 

        .hover-block 
            opacity: 1

        .points-slider-item__inner 
            opacity: 0