.points-block 
    position: relative
    padding-top: 40px
    width: 380px
    min-height: 44px
    border-radius: 22px 22px 0 0
    z-index: 1

    @media (max-width: $screenL - 1)
        margin: 0 auto
        padding-top: 36px

    @media (max-width: $screenM )
        width: 100%
        max-width: 380px
    
    &__header
        position: relative
        display: flex
        justify-content: space-between
        padding: 12px 42px 11px 20px
        font-weight: 700
        color: #fff
        background-color: $yellow
        background-image: linear-gradient(#fba000, #FCC65F)
        border-radius: 22px
        z-index: 1

        p:first-child
            margin-right: auto

        p:nth-child(2)
            margin-left: auto

        @media (max-width: $screenL - 1)
            box-sizing: border-box
            margin: 0 auto
            width: 100%
            max-width: 380px

        .opened & 
            position: absolute
            top: 40px
            left: 0
            right: 0

            @media (max-width: $screenL - 1)
                top: 36px

        &:before 
            content: ""
            position: absolute
            top: 50%
            right: 20px
            margin-top: -4px
            width: 0
            height: 0
            border-style: solid
            border-width: 10px 6px 0 6px
            border-color: #fff transparent transparent transparent
            transition: transform 0.4s ease

            .opened & 
                margin-top: -6px
                transform: scale(1,-1)

        p 
            margin: 0

.points-history 
    position: absolute
    top: 40px
    left: 0
    right: 0
    padding: 0 21px 0 20px
    max-height: 0
    text-align: center
    background-color: $transparent
    border-radius: 22px
    overflow: hidden
    transition: max-height 0.4s ease, padding 0.4s ease

    &>*
        opacity: 0
        transition: opacity 0.2s ease

    .opened & 
        padding: 64px 21px 30px 20px
        max-height: 5000px
        background-color: #fff
        opacity: 1

        &>*
            opacity: 1

    ul 
        margin: 0
        margin-bottom: 30px
        padding: 0
        list-style: none
        text-align: left

    li 
        display: flex
        margin-bottom: 16px

    span 
        box-sizing: border-box

    &__time
        padding-right: 10px
        width: 61px
        color: rgba(0, 0, 0, 0.4)

    &__name 
        padding-right: 10px
        width: 202px

    &__points 
        text-align: right
        color: $yellow

    .btn 
        margin: 0 auto
        padding: 10px 20px
        width: 192px
        font-size: 16px
        line-height: 21px

.points-block-link 
    align-self: center
    display: inline-block
    margin-top: 8px
    text-align: center
    text-decoration: underline
    font-size: 12px
    line-height: 16px
    color: #fff
    transition: opacity 0.4s ease

    @media (max-width: $screenL - 1)
        display: none

    &:hover,
    &:focus,
    &:active 
        opacity: 0.8