.points-sources 
    padding-bottom: 50px
    
    &__item 
        display: flex
        margin-bottom: 10px
        padding: 20px
        background-color: $blue
        border-radius: 22px

        @media (max-width: $screenM)
            flex-direction: column
            box-shadow: 0 11px 22px 0 rgba(0, 0, 0, 0.2)

        &:first-child,
        &:nth-child(4n + 4) 
            background-image: linear-gradient(#1976c1, #218ed3)

        &:nth-child(2),
        &:nth-child(4n + 5)
            background-image: linear-gradient(#3fa3f0, #51baf5)

        &:nth-child(4n + 3)
            background-image: linear-gradient(#1c538d, #2568a5)

        &:nth-child(6n + 6)
            background-image: linear-gradient(#fba000, #fcb700)

        h4 
            margin: 0
            font-family: $font-alt
            font-weight: 400
            font-size: 32px
            line-height: 39px
            color: #fff

            @media (max-width: $screenM)
                margin-bottom: 19px

        p 
            margin: 0
            color: #fff

            @media (max-width: $screenM)
                margin-bottom: 20px

    &__text 
        padding-right: 20px

    &__actions 
        display: flex 
        flex-direction: column
        margin-left: auto
        min-width: 100px
        text-align: center

        @media (max-width: $screenM)
            flex-direction: row
            justify-content: space-between
            min-width: 100%

    &__btn 
        margin-bottom: 7px
        font-size: 16px
        line-height: 21px
        padding: 6px 16px 5px 16px
        border-radius: 16px

    &__link 
        text-decoration: underline
        color: #fff
        align-self: center
