.poll-form 
    margin-bottom: 30px
    
    input[type="radio"]
        position: absolute
        height: 0
        width: 0
        opacity: 0

    &__label 
        display: block
        margin-bottom: 10px
        padding: 7px 10px 6px 10px
        text-align: center
        font-size: 14px
        line-height: 19px
        color: rgba(0, 0, 0, 0.8)
        background-color: #e5e8ef
        border-radius: 4px
        cursor: pointer
        transition: color 0.4s ease, background-color 0.4s ease

    input[type="radio"]:checked + .poll-form__label 
        color: #fff
        background-color: $blue
        background-image: linear-gradient(to bottom, #3691f2, #3ea4f5)
        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2)

.poll-btn 
    position: absolute
    top: 170px
    left: 50%
    transform: translateX(-50%)
    margin: 0
    margin-left: -10px

.poll img 
    display: block

.logo-poll
    margin: 6px 0 30px 0
    width: 125px
    height: 125px