.popup-overlay 
    position: fixed
    top: 0
    left: 0
    right: 0
    bottom: 0
    background-color: rgba(0, 0, 0, 0.7)
    z-index: 100
    overflow-y: auto

.popup 
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%,-50%)
    box-sizing: border-box
    padding: 20px 40px 40px
    width: 580px
    background-color: #fff
    border-radius: 22px
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2)

    &__btns-center
        text-align: center


    &__image
        display: flex
        flex-direction: column 
        justify-content: center
        margin: 0 auto 
        margin-top: 20px
        width: 200px
        height: 200px
        background-color: #e5e8ef
        border-radius: 50%

        &._gift
            background-image: $g-yellow

        img 
            display: block
            margin: 0 auto


    &__btns
        display: flex

    &__title 
        margin: 0 0 20px 0
        font-family: $font-alt
        font-weight: 400
        font-size: 30px
        line-height: 36px
        color: $blueText

        @media (max-width: $screenM)
            margin-bottom: 23px

        span 
            margin-left: 20px
            color: rgba(0, 0, 0, 0.4)

            @media (max-width: 400px)
                margin: 0
                display: block

            i
                font-style: normal

    &__subtitle 
        margin: 0
        text-align: left
        font-size: 20px
        line-height: 26px

    &__inner 
        position: relative
        margin-top: 43px
        text-align: center

    &__text 
        margin: 20px 0
        font-size: 16px
        line-height: 20px

        &._small-wrap
            max-width: 350px
            margin: 60px auto 40px

        &.nested 
            margin-top: -40px
            margin-bottom: 24px

    &__link 
        position: relative
        display: inline-block
        vertical-align: top
        margin-left: 20px
        padding: 0
        font-weight: 700
        line-height: 41px
        color: $textColor
        text-decoration: underline
        background-color: $transparent
        border: none
        transition: opacity 0.4s ease

        span 
            position: relative
            display: block
            text-shadow: 0px 1px 0px #fff
            z-index: 1

        &:hover,
        &:focus,
        &:active 
            outline: none
            opacity: 0.8

.popup-close 
    position: absolute
    top: 30px
    right: 40px
    padding: 0
    width: 24px
    height: 24px
    font-size: 0
    background-color: $transparent
    border: none
    transition: opacity 0.4s ease

    @media (max-width: $screenM)
        top: 19px
        right: 20px

    &:hover,
    &:focus,
    &:active 
        outline: none
        opacity: 0.7

    &:before,
    &:after 
        content: ""
        position: absolute
        top: -4px
        left: 11px
        width: 2px
        height: 33px
        background-color: $blueText
        transform: rotate(45deg)

    &:after
        transform: rotate(-45deg)

.gift-image 
    display: block
    margin: 0 auto 
    width: 210px
    height: auto

.modal 

    .btn 
        padding: 11px 35px 9px 35px
        font-size: 16px
        line-height: 21px
