.prize-block 
    
    &.certificates
        padding-bottom: 60px
        
    &__wrapper 
        display: flex
        flex-wrap: wrap 
        margin-top: 60px

    &__col 
        display: flex
        box-sizing: border-box 
        margin-bottom: 60px
        padding-left: 40px
        width: 50%

        &._full 
            margin-bottom: 100px
            padding-right: 40px
            width: 100%

        @media (max-width: $screenL - 1)
            padding-right: 40px
            width: 100%

    &__img
        display: flex 
        flex-direction: column
        justify-content: center
        margin-right: 60px
        width: 200px
        height: 200px
        min-width: 200px
        background-color: #e5e8ef
        border-radius: 50%

        img 
            display: block
            margin: 0 auto

    &__text
        padding-top: 49px

        ._full &
            padding-top: 0
            align-self: center

        @media (max-width: $screenL - 1)
            padding-top: 0
            align-self: center

        p 
            margin: 0
            font-weight: 700
            color: #000 

            ._full &
                max-width: 580px

            @media (max-width: $screenM - 1)
                max-width: 320px

        .blue 
            color: $blueText