.promo-block 
    background-color: #e5e8ef

    &__wrapper 
        position: relative
        display: flex
        padding: 32px 0

        @media (max-width: $screenXL - 1)
            padding: 32px 17px

        @media (max-width: $screenL - 1)
            flex-direction: column
            padding-bottom: 0
            padding-top: 41px
    
    &__image 
        position: absolute
        top: 0
        left: 0
        height: 100%
        width: 100%
        overflow: hidden

        @media (max-width: $screenL - 1)
            position: relative
            margin: 0 auto
            height: 180px
            width: 260px
            order: 3

        img 
            position: absolute
            top: 50%
            transform: translateY(-50%)
            left: 0
            margin-top: 5px

            @media (max-width: $screenL - 1)
                left: 50%
                transform: translate(-50%,-50%)

    &__title 
        position: relative
        align-self: center
        max-width: 475px
        margin: auto
        text-align: center
        text-transform: uppercase
        font-family: $font-alt
        font-weight: 400
        font-size: 32px
        line-height: 38px
        color: $blueText
        //z-index: 1

        @media (max-width: $screenXL - 1)
            font-size: 30px

        @media (max-width: $screenL - 1)
            order: 1
            margin-bottom: 41px
            max-width: 100%
            font-size: 32px
            line-height: 38px

    .btn
        position: absolute
        right: 0
        top: 50%
        transform: translateY(-50%)
        padding: 15px 34px 12px 34px
        border-radius: 26px
        font-size: 20px
        line-height: 26px

        @media (max-width: $screenXL - 1)
            right: 17px
            padding: 12px 26px 10px 26px
            font-size: 16px
            line-height: 21px

        @media (max-width: $screenL - 1)
            position: static
            order: 2
            margin: 0 auto
            padding: 10px
            max-width: 212px

        &:hover,
        &:focus,
        &:active 
            opacity: 1