.reader 
    text-align: center
    background-color: #e5e8ef

    @media (max-width: $screenXL) 
        width: 100%

    &__wrapper 
        box-sizing: border-box
        padding: 0
        width: 780px

        @media (max-width: $screenXL)
            padding-left: 17px
            padding-right: 17px
            width: 100%
            min-width: 286px
            max-width: 734px

    .section__title 
        margin-bottom: 20px

    &__header 
        position: relative
        display: flex
        margin-bottom: 20px

        @media (max-width: $screenL)
            min-height: 102px

    &__counter 
        position: absolute
        bottom: 0
        left: 50%
        transform: translateX(-50%)
        margin: 0
        line-height: 41px

    &__btn 
        padding: 10px 35px
        font-size: 16px
        line-height: 21px

        &--back 
            margin-right: 29px

            @media (max-width: $screenXL) 
                position: absolute
                top: 0
                left: 0

        &--forward 
            margin-left: 29px

            @media (max-width: $screenXL)
                position: absolute
                top: 0
                right: 0

    &__action 
        position: relative
        display: flex 
        flex-direction: column 
        justify-content: center 
        box-sizing: border-box
        padding-bottom: 3px
        padding-right: 4px
        width: 41px
        height: 41px
        text-align: center
        font-weight: 700
        font-size: 13px
        line-height: 15px
        color: rgba(0, 0, 0, 0.6)
        background-color: #fff
        border-radius: 50%

        @media (max-width: $screenXL)
            position: absolute

        &:hover,
        &:focus,
        &:active 
            opacity: 0.9

        &:before,
        &:after 
            content: ""
            position: absolute

        &:before
            top: 10px
            left: 10px
            width: 13px
            height: 13px
            border: 2px solid rgba(0, 0, 0, 0.6)
            border-radius: 50%

        &:after 
            top: 22px
            left: 26px
            width: 2px
            height: 10px
            transform: rotate(-45deg)
            background-color: rgba(0, 0, 0, 0.6)

        &.zoomOut 
            margin-left: auto

            @media (max-width: $screenXL) 
                bottom: 0
                right: 0

        &.zoomIn

            @media (max-width: $screenXL)
                bottom: 0
                left: 0

    &__body 
        margin-bottom: 40px

        @media (max-width: $screenXL)
            margin-bottom: 20px

        img 
            display: block
            width: 100%
            height: auto

    &__link 
        margin-bottom: 40px
        padding: 10px 35px
        font-size: 16px
        line-height: 21px

        @media (max-width: $screenXL)
            margin-bottom: 60px