.section 
    padding-top: 60px

    &.first-section 
        padding-top: 46px

    @media (max-width: $screenM)
        padding-top: 40px

    &.nested 
        padding-top: 9px

    &__title 
        margin: 0 0 40px 0
        text-align: center
        text-transform: uppercase
        font-family: $font-alt
        font-weight: 400
        font-size: 54px
        line-height: 65px
        color: $blueText

        br 
            display: none

            @media (max-width: $screenM)
                display: block

        @media (max-width: $screenM)
            margin-bottom: 40px
            font-size: 32px
            line-height: 38px

        &.mobile 
            display: none

            @media (max-width: $screenM)
                display: block

        .certificates &

            @media (max-width: $screenL - 1)
                margin-bottom: 0


        @media (max-width: $screenM)
            margin-bottom: 37px

    &__inner 
        display: flex
        flex-wrap: wrap 
        justify-content: space-between