.small-banner-block  
    display: flex
    padding-bottom: 31px

    @media (max-width: $screenM)
        padding-bottom: 0

    @media (max-width: $screenM)
        flex-direction: column

    img 
        display: block
        margin-left: 52px
        width: 179px
        height: 112px

        @media (max-width: $screenM)
            margin: 0 auto
            width: 107px
            height: 65px

    p 
        margin: 0
        margin-top: 12px
        padding-left: 72px
        align-self: center 
        max-width: 450px

        @media (max-width: $screenM)
            margin-top: -2px
            padding: 0 10px
            text-align: center