.subsribe-form 
    margin: 0 auto 
    padding-bottom: 60px
    width: 781px

    @media (max-width: $screenL - 1)
        width: 80%

    @media (max-width: $screenM)
        width: 100%
        max-width: 320px

    &__wrapper 
        position: relative

    &__field 
        display: block
        box-sizing: border-box
        padding: 10px 193px 8px 20px
        width: 100%
        height: 44px
        font-family: $font 
        font-size: 18px
        line-height: 24px
        color: #000
        border-radius: 22px
        border: solid 2px rgba(0, 0, 0, 0.4)
        transition: border 0.4s ease

        &:focus 
            border: solid 2px rgba(0, 0, 0, 0.6)
            outline: none

    &__btn 
        position: absolute
        right: 0
        top: 0

    .btn
        padding: 11px 35px 9px 35px
        font-size: 18px
        line-height: 24px

        @media (max-width: $screenM)
            position: static
            display: block
            margin: 20px auto 0 auto

        &:hover 
            opacity: 1

    input::-webkit-input-placeholder
        color: #000
    input:-moz-placeholder
        color: #000
    input::-moz-placeholder
        color: #000
    input:-ms-input-placeholder
        color: #000