.user-nav-mobile
    display: none
    margin-top: auto
    padding: 24px 20px 90px 20px
    background-color: #e5e8ef

    &__img 
        display: block
        margin-right: 10px
        width: 32px
        height: 32px
        border-radius: 50%
        overflow: hidden

    ul 
        margin: 0
        padding: 0
        list-style: none
        font-weight: 700

    li 
        display: flex
        margin-bottom: 20px

        &:last-child 
            margin-bottom: 0

    .profile-link
        margin-bottom: 15px

    .account-link
        position: relative
        padding-left: 27px

        &:before 
            content: ""
            position: absolute
            left: 0
            top: -1px
            width: 17px
            height: 17px
            background-image: url("../images/icon-user.png")
            background-repeat: no-repeat
            background-size: contain

    p 
        margin: 0
        align-self: center

    a
        color: $blueText

    @media (max-width: $screenL - 1)
        display: block