.user-block
    position: relative
    display: flex 
    flex-direction: column
    margin-left: auto
    box-sizing: border-box
    padding-top: 30px
    transition: all .3s ease-in-out

    @media (max-width: $screenXL - 1)
        padding-top: 13px
        max-height: 82px

    @media (max-width: $screenL - 1)
        margin-left: auto

    .login-btn
        padding: 11px 40px 9px 40px
        font-size: 16px
        line-height: 21px

        @media (max-width: $screenL - 1)
            margin-right: 20px
            margin-top: 2px
            padding: 0
            width: 26px
            height: 26px
            font-size: 0
            background-color: $transparent
            background-image: url("../images/icon-user.png")
            background-repeat: no-repeat
            background-size: contain
            border-radius: 0
            box-shadow: none

            .menu-opened &
                opacity: 0

    &__tooltip
        position: absolute
        top: 72px
        left: 0
        box-sizing: border-box
        padding: 20px 32px
        width: 212px
        text-align: center
        background-color: #fff
        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2)
        opacity: 0
        z-index: -100
        transition: opacity 0.4s ease
        display: none

        @media (max-width: $screenL - 1)
            top: 54px
            left: -132px
            width: 167px

        &.show,
        &:hover
            opacity: 1
            z-index: 1
            display: block

        &:after
            content: ""
            position: absolute
            bottom: 100%
            left: 0
            right: 0
            height: 20px
            background-color: rgba(255, 255, 255, 0)

    &__link
        font-size: 16px
        line-height: 21px
        color: $blueText

.user-info 
    display: flex

    &:hover ~ .user-block__tooltip
        z-index: 1
        opacity: 1
        display: block

    &__image 
        margin-right: 11px
        width: 41px
        height: 41px
        border-radius: 50% 
        overflow: hidden

        @media (max-width: $screenL - 1)
            position: relative
            margin-right: 20px
            width: 32px
            height: 32px
            overflow: visible

            .menu-opened &
                opacity: 0

            &:after
                content: ""
                position: absolute
                bottom: 0
                right: 0
                display: none
                width: 10px
                height: 10px
                background-image: linear-gradient(#fba000, #fcb700)
                border-radius: 50%
                box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2)

                ._notification &
                    display: block

        img 
            display: block
            width: 100%
            height: auto

            @media (max-width: $screenL - 1)
                border-radius: 50%
                overflow: hidden

    &__name 
        display: block
        padding-top: 3px
        font-weight: 700
        color: $textColor

    &__col

        @media (max-width: $screenL - 1)
            display: none

    &__points 
        margin: 0
        font-size: 12px
        line-height: 16px
        color: $yellow

.user-nav 
    display: flex 
    margin: 0
    margin-top: 4px
    padding: 0
    list-style: none
    transition: opacity .15s ease-in-out
    transition-delay: .15s

    @media (max-width: $screenL - 1)
        display: none

    li 
        margin-left: 11px
        font-size: 12px
        line-height: 16px

        &:first-child 
            margin-left: 0

    a 
        text-decoration: underline
        color: rgba(0, 0, 0, 0.4)   
        transition: opacity 0.4s ease

        &:hover,
        &:focus,
        &:active
            opacity: 0.8