.winners 
    padding-bottom: 60px
    padding-top: 9px

    @media (max-width: $screenL - 1)
        padding-bottom: 0

    @media (max-width: $screenM)
        padding-top: 40px

    .section__inner 
        align-content: flex-start

        @media (max-width: $screenM)
            flex-direction: column
            margin-top: -20px

    &__col 
        position: relative
        width: 580px

        @media (max-width: $screenXL - 1)
            width: 49%

        @media (max-width: $screenL - 1)
            padding-bottom: 90px

        @media (max-width: $screenM)
            width: 100%

    .mobile-slide
        height: auto

.winners-slider 
    position: relative
    box-sizing: border-box
    margin-bottom: auto
    padding: 10px
    border-radius: 22px
    background-color: #e5e8ef

    &.daily 

        .winners-slide__col

            &:first-child 

                .winners-slide__header
                    background-image: $g-lightBlue

            &:last-child 

                .winners-slide__header
                    background-image: $g-blue

    &.weekly 

        .winners-slide__col

            &:first-child 

                .winners-slide__header
                    background-image: $g-darkBlue

            &:last-child 

                .winners-slide__header
                    background-image: $g-yellow


    &__container 
        padding-top: 93px

    &__header 
        position: absolute
        top: 10px
        left: 20px
        right: 20px

        @media (max-width: $screenM)
            left: 10px
            right: 10px

    &__period
        margin: 0
        margin-bottom: 8px
        text-align: center
        font-size: 16px
        line-height: 21px
        color: rgba(0, 0, 0, 0.5)

    &__date 
        display: flex
        justify-content: center
        padding-top: 10px
        padding-bottom: 9px
        border-radius: 22px
        background-color: #fff

        span 
            align-self: center
            padding-top: 1px
            line-height: 20px
            color: rgba(0, 0, 0, 0.5)

            i
                font-style: normal

    .calendar 
        position: relative
        margin-left: 10px
        padding: 0
        width: 24px
        height: 25px
        background-color: $transparent
        border: none
        z-index: 2

        svg 
            display: block
            width: 24px
            height: 25px

    .swiper-button-next,
    .swiper-button-prev
        margin-top: 0
        top: 29px
        width: 44px
        height: 44px
        border-radius: 50%
        background-image: linear-gradient(to bottom, #3691f2, #3ea4f5)
        background-size: cover

        @media (max-width: $screenM)
            left: auto 
            right: 0

        &:hover,
        &:active 

        &:before
            content: ""
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)
            margin-left: 3px
            width: 0
            height: 0
            border-style: solid
            border-width: 8px 0 8px 16px
            border-color: transparent transparent transparent #fff

    .swiper-button-prev

        @media (max-width: $screenM)
            right: auto 
            left: 0

        &:before 
            transform: translate(-50%, -50%) scale(-1,1)
            margin-left: -3px

.mobile-slider-pagination
    bottom: auto
    top: 0 
    pointer-events: none
    opacity: 0

    @media (max-width: $screenL - 1)
        pointer-events: auto
        top: auto 
        bottom: -100px

.winners-slide .mobile-slider-wrapper
    box-sizing: border-box
    display: flex
    justify-content: space-between
    padding: 0 10px

    flex-shrink: 0

    @media (max-width: $screenL - 1)
        padding: 0

.winners-inner-slider
    flex-shrink: 0

    .mobile-slide 
        flex-shrink: 0

    @media (max-width: $screenL - 1)
        padding-bottom: 0

.winners-slide

    &__col
        width: 260px

        @media (max-width: $screenXL - 1)
            width: 49%

        @media (max-width: $screenL - 1)
            padding-top: 0

    &__header 
        display: flex
        margin-bottom: 20px
        padding: 15px 15px 14px 20px
        background-color: $blue 
        background-image: $g-blue
        border-radius: 22px

        @media (max-width: $screenXL - 1)
            padding-left: 17px
            padding-right: 17px

    &__title
        margin: 0
        align-self: center
        font-size: 16px
        line-height: 21px
        color: #fff

        @media (max-width: $screenXL - 1)
            font-size: 15px

    &__category 
        margin: 0
        margin-left: auto
        font-family: 'Roboto Condensed', sans-serif
        font-weight: 700
        font-size: 32px
        line-height: 43px
        color: #fff

        @media (max-width: $screenXL - 1)
            font-size: 24px
            white-space: nowrap

.winners-list
    margin: 0
    padding: 0
    list-style: none

.winner 
    display: flex
    margin-bottom: 10px

    &__img 
        margin-right: 10px
        width: 56px
        height: 56px
        background-color: $blue
        border-radius: 50% 
        overflow: hidden

        @media (max-width: $screenXL - 1)
            margin-right: 6px
            width: 31px
            min-width: 31px
            height: 31px

        @media (max-width: $screenM)
            margin-right: 10px
            width: 56px
            height: 56px

        img 
            display: block
            width: 100%
            height: auto

    &__name 
        max-width: 180px
        align-self: center
        color: $textColor

        @media (max-width: $screenXL - 1)
            font-size: 15px

        @media (max-width: $screenM)
            font-size: 16px
            line-height: 21px

.winner-slider-pagination
    position: absolute
    bottom: 40px
    left: 50%
    transform: translateX(-50%)
    display: flex 
    justify-content: center 
    opacity: 0
    z-index: -1
    cursor: pointer 
    transition: background-color 0.4s ease

    @media (max-width: $screenL - 1)
        opacity: 1
        z-index: 1

    span 
        display: block
        margin: 0 10px
        width: 10px
        height: 10px
        background-color: #e5e8ef
        border-radius: 50%

        &.active 
            background-color: $blueText
