@import normalize
@import fonts.scss


// ----------------------------------------------------------------------
    // General styles
// ----------------------------------------------------------------------

html
    width: 100%

html *
    max-height: 1000000px

body
    margin: 0
    width: 100%
    min-width: 1200px
    font-family: $font
    font-size: 16px
    line-height: 21px
    color: $textColor
    background-color: #fff

    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale

    &.overflow
        height: 100%
        overflow: hidden

    @media (max-width: $screenXL - 1)
        min-width: 1024px

    @media (max-width: $screenL - 1)
        min-width: 769px

    @media (max-width: $screenM )
        min-width: 320px

.global-wrapper
    margin: 0 auto
    position: relative

.layout-positioner
    position: relative
    box-sizing: border-box
    margin: 0 auto
    padding: 0 10px
    width: 1200px

    @media (max-width: $screenXL - 1)
        padding: 0 17px
        width: 100%
        min-width: 1024px
        max-width: 1199px

    @media (max-width: $screenL - 1)
        min-width: 769px
        max-width: 1023px

    @media (max-width: $screenM )
        min-width: 320px
        max-width: $screenM

.page-content
    padding-top: 100px
    position: relative
    min-height: calc(100vh - 209px)

    @media (max-width: $screenXL - 1)
        padding-top: 82px

    @media (max-width: $screenL - 1)
        padding-top: 60px
        min-height: 0

    @media (max-width: $screenM)
        display: flex
        flex-direction: column

    &.account-page

        .account-block
            order: 1

        .promo-block
            order: 2

        .certificates
            order: 3

        .earn-points
            order: 4

        .promo-gift
            order: 5

        .winners
            order: 6

        .banner
            order: 7

        .blog-preview
            order: 8

        .subscribe
            order: 9

.hidden
    display: none !important

.invisible
    position: absolute
    z-index: -100
    visibility: hidden




