@font-face {
    font-family: "HappyFoxCondensed";
    src: url("../fonts/HappyFoxCondensed.eot");
    src: url("../fonts/HappyFoxCondensed.eot") format("embedded-opentype"),
         url("../fonts/HappyFoxCondensed.woff2") format("woff2"),
         url("../fonts/HappyFoxCondensed.woff") format("woff");
}
