// ----------------------------------------------------------------------
    // Sizes
// ----------------------------------------------------------------------
$screenXL: 1200px;
$screenL: 1024px;
$screenM: 768px;


// ----------------------------------------------------------------------
    // Colors
// ----------------------------------------------------------------------
$textColor: rgba(0, 0, 0, 0.6);
$blueText: #0c64ab;
$yellow: #fba000;
$blue: #3ea4f5;
$darkBlue: #06476c;
$red: #b41226;
$transparent: rgba(255, 255, 255, 0);

// Gradients
// ----------------------------------------------------------------------
$g-lightBlue: linear-gradient(#3fa3f0, #51baf5);
$g-blue: linear-gradient(#1976c1, #218ed3);
$g-darkBlue: linear-gradient(#1c538d, #2568a5);
$g-yellow: linear-gradient(#fba000, #fcb700);


// ----------------------------------------------------------------------
    // Fonts
// ----------------------------------------------------------------------
$font: Roboto, Arial, sans-serif;
$font-alt: 'HappyFoxCondensed', sans-serif;