$modal-overlay-bg: rgba(0,0,0,0.7)
$modal-bg: #fff
$z-index--modal: 99
$modal-width: 580px
$modal-height: 670px

$modal-heading-size: 6.5rem

.modal
    position: absolute
    //top: 80px
    top: 50%
    left: 50%
    width: $modal-width
    //height: $modal-height
    margin-left: -1 * $modal-width / 2
    background: $modal-bg
    z-index: 0
    opacity: 0
    //transform: translateY(50%) scaleY(0)
    transform: translate(50% 50%) scaleY(0)
    transition: opacity 0.3s, transform 0.3s, z-index 0.1s 0.3s
    box-sizing: border-box
    padding: 20px 40px 40px
    border-radius: 22px
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2)

    @media (max-width: $screenM)
        width: calc(100% - 34px)
        max-width: 400px
        margin-left: 0
        padding: 13px 20px 40px 20px
        left: 17px
        top: 30px
        height: auto
        transform: translateY(50%) translateX(-50%) scaleY(0)

    @media (max-height: 660px)
        top: 10px

    &#poll
        top: 10px

        &.is-opened
            transform: scaleY(1) translate(0) !important

    &--small
        width: 730px !important
        margin-left: -365px!important
        height: 780px !important

    //&__wrapper.is-fullscreen &
        //top: 1.5rem
        //margin-bottom: 1.5rem

    &.is-opened
        z-index: 1
        opacity: 1
        transform: scaleY(1) translate(0, -50%)
        transition: z-index 0.1s, opacity 0.3s 0.1s, transform 0.3s 0.1s

        @media (max-width: $screenM)
            transform: scaleY(1) translateX(-50%) !important
            margin-left: 0
            left: 50%

        @media (max-height: 660px)
            transform: scaleY(1) translate(0)

    &__wrapper
        position: fixed
        top: 0
        left: 0
        width: 100%
        height: 100%
        background: $modal-overlay-bg
        z-index: -1 * $z-index--modal
        padding-top: 80px
        opacity: 0
        transition: opacity 0.3s, z-index 0.1s 0.3s

        &.is-opened
            opacity: 1
            z-index: $z-index--modal
            transition: z-index 0.1s, opacity 0.3s 0.1s


        &.is-fullscreen
            z-index: $z-index--modal + 98
            padding-top: 0
            overflow-y: auto

    .btn-close
        position: absolute
        top: 0
        right: 0
        z-index: $z-index--modal + 1

    &__content
        height: 100%
        background-size: cover
        font-size: 0