.page-footer
    padding: 30px 0
    background-color: #06476c

    @media (max-width: $screenM)
        height: 40px

    &__wrapper 
        display: flex

        .footer-nav
            @media (max-width: $screenM)
                display: none

.footer-social 
    
    ul 
        display: flex
        margin: 0
        padding: 0
        padding-left: 6px
        list-style: none

    li 
        margin-right: 14px
        font-size: 0

.social-btn 
    position: relative
    display: block
    width: 44px
    height: 44px
    background-color: #3ea4f5
    border-radius: 50%  

    &.about-user__btn
        display: inline-block !important

        @media (max-width: $screenM)
            width: 118px !important

        &:last-child
            margin-right: 0

        &:before
            display: none

    &:before 
        content: ""
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        background-repeat: no-repeat 
        background-size: contain
        background-position: center

        .about-user & 
                display: none

    &--ok 
        background-image: linear-gradient(#ee8208, #F5B45F)

        &:before 
            width: 12px
            height: 18px
            background-image: url("../images/icon-ok.png")

    &--fb 
        background-image: linear-gradient(#365899, #5278b1)

        &:before 
            width: 9px
            height: 17px
            background-image: url("../images/fb-red@2x.png")

    &--vk 
        background-image: linear-gradient(#507299, #698cae)

        &:before 
            margin-top: 1px
            margin-left: -1px
            width: 23px
            height: 12px
            background-image: url("../images/icon-vk.png")

    &--insta
        background: url("../images/icon-insta-bg.png") center no-repeat

        &:before
            width: 22px
            height: 22px
            background-image: url("../images/icon-insta.png")



    &:hover,
    &:focus,
    &:active 

.footer-nav 
    margin-left: auto

    ul 
        display: flex
        justify-content: flex-end
        margin: 0
        padding: 14px 0
        padding-right: 10px
        list-style: none

    li 
        margin-left: 20px
        font-size: 14px
        line-height: 21px

    a 
        text-decoration: underline
        color: #fff
        transition: opacity 0.4s ease

        &:hover,
        &:focus,
        &:active 
            opacity: 0.8