.page-header
    position: fixed
    top: 0
    left: 0
    right: 0
    max-height: 100px
    max-width: 100vw
    overflow: visible
    background-color: #fff
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2)
    transform: translateZ(0)
    z-index: 50
    transition: all .3s ease-in-out

    &._anim
        max-height: 60px

        .user-nav
            opacity: 0

        .user-block
            padding-top: 10px

        .main-navigation
            padding: 10px 0 19px

        .logo-alt
            padding: 2px

        .logo-alt img
            transform-origin: 50% 50%
            width: 67px
            height: 69px

        .logo-alt:before
            height: 70px

        .logo-alt
            width: 70px
            height: 70px

    @media (max-width: $screenXL - 1)
        max-height: 82px

    @media (max-width: $screenL - 1)
        max-height: 60px

    &__wrapper 
        display: flex

    //@media (max-width: $screenL - 1)

.logo 
    position: relative
    display: flex
    flex-direction: column
    justify-content: center
    margin-right: 63px
    width: 137px
    height: 163px
    z-index: 1

    @media (max-width: $screenXL - 1)
        margin-right: 30px
        width: 102px
        height: auto

    @media (max-width: $screenL - 1)
        margin-right: 0
        width: 85px

    img 
        display: block
        width: 100%
        margin: auto
        height: auto

    &-alt
        box-sizing: border-box
        margin-right: 79px
        padding: 3px
        width: 120px
        height: 120px
        background-color: #fff
        border-radius: 50%
        box-shadow: 0 3px 36px -6px rgba(0,0,0,0.6)
        background-position: center
        background-repeat: no-repeat
        transition: all .3s ease-in-out

        &:before
            content: ""
            width: 178px
            position: absolute
            top: -10px
            left: -27px
            right: -18px
            height: 110px
            background-color: #fff
            transition: all .3s ease-in-out

            @media (max-width: $screenXL - 1)
                height: 91px

            @media (max-width: $screenL - 1)
                height: 70px

        @media (max-width: $screenXL - 1)
            margin-right: 30px
            width: 100px
            height: 100px

        @media (max-width: $screenL - 1)
            width: 85px
            height: 85px

        img
            position: relative
            margin: auto
            width: 101px
            height: 103px
            z-index: 1
            transition: all .3s ease-in-out

            @media (max-width: $screenXL - 1)
                width: 94px
                height: auto

            @media (max-width: $screenL - 1)
                width: 100%
                height: auto

    &-kaz
        padding: 0
        width: 125px
        height: 125px

        @media (max-width: $screenL - 1)
            width: 85px
            height: 85px

        img
            position: relative
            top: 5px
            width: 105px
            height: 105px

            @media (max-width: $screenL - 1)
                top: 2px
                width: 85px
                height: 85px

.lang-switcher
    padding-top: 29px
    margin-left: 10px
    z-index: 2
    transition: all .3s ease-in-out

    .page-header._anim &
        padding-top: 10px

    @media (max-width: $screenL - 1)
        padding-top: 13px

    &__current
        display: inline-block
        vertical-align: top
        margin-left: 3px
        width: 41px
        height: 41px
        border-radius: 50%
        background-image: linear-gradient(to bottom, #3691f2, #3ea4f5)
        text-align: center
        line-height: 41px
        font-size: 16px
        color: #fff
        transition: all .3s ease-in-out

    &__ru
        font-size: 16px
        display: inline-block
        text-align: center
        border-radius: 50%
        height: 41px
        line-height: 41px
        vertical-align: top
        cursor: pointer
        color: #000
        transition: all .3s ease-in-out

        &-input
            width: 0
            height: 0
            overflow: hidden
            position: absolute
            left: -9999px

    .lang-switcher__ru-input
        &:checked ~ .lang-switcher__ru
            width: 41px
            background-image: linear-gradient(to bottom, #3691f2, #3ea4f5)
            color: #fff

        &:checked ~ .lang-switcher__current
            width: auto
            background: transparent
            border-radius: 0
            color: #000

