// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$icon-arrow-down-bl-name: 'icon-arrow-down-bl';
$icon-arrow-down-bl-x: 0px;
$icon-arrow-down-bl-y: 0px;
$icon-arrow-down-bl-offset-x: 0px;
$icon-arrow-down-bl-offset-y: 0px;
$icon-arrow-down-bl-width: 14px;
$icon-arrow-down-bl-height: 9px;
$icon-arrow-down-bl-total-width: 32px;
$icon-arrow-down-bl-total-height: 22px;
$icon-arrow-down-bl-image: '../images/sprites-built/desktop/main.png';
$icon-arrow-down-bl: (0px, 0px, 0px, 0px, 14px, 9px, 32px, 22px, '../images/sprites-built/desktop/main.png', 'icon-arrow-down-bl', );
$icon-arrow-down-hov-name: 'icon-arrow-down-hov';
$icon-arrow-down-hov-x: 18px;
$icon-arrow-down-hov-y: 0px;
$icon-arrow-down-hov-offset-x: -18px;
$icon-arrow-down-hov-offset-y: 0px;
$icon-arrow-down-hov-width: 14px;
$icon-arrow-down-hov-height: 9px;
$icon-arrow-down-hov-total-width: 32px;
$icon-arrow-down-hov-total-height: 22px;
$icon-arrow-down-hov-image: '../images/sprites-built/desktop/main.png';
$icon-arrow-down-hov: (18px, 0px, -18px, 0px, 14px, 9px, 32px, 22px, '../images/sprites-built/desktop/main.png', 'icon-arrow-down-hov', );
$icon-arrow-down-name: 'icon-arrow-down';
$icon-arrow-down-x: 0px;
$icon-arrow-down-y: 13px;
$icon-arrow-down-offset-x: 0px;
$icon-arrow-down-offset-y: -13px;
$icon-arrow-down-width: 14px;
$icon-arrow-down-height: 9px;
$icon-arrow-down-total-width: 32px;
$icon-arrow-down-total-height: 22px;
$icon-arrow-down-image: '../images/sprites-built/desktop/main.png';
$icon-arrow-down: (0px, 13px, 0px, -13px, 14px, 9px, 32px, 22px, '../images/sprites-built/desktop/main.png', 'icon-arrow-down', );
$icon-arrow-down-bl-2x-name: 'icon-arrow-down-bl-2x';
$icon-arrow-down-bl-2x-x: 0px;
$icon-arrow-down-bl-2x-y: 0px;
$icon-arrow-down-bl-2x-offset-x: 0px;
$icon-arrow-down-bl-2x-offset-y: 0px;
$icon-arrow-down-bl-2x-width: 28px;
$icon-arrow-down-bl-2x-height: 18px;
$icon-arrow-down-bl-2x-total-width: 64px;
$icon-arrow-down-bl-2x-total-height: 44px;
$icon-arrow-down-bl-2x-image: '../images/sprites-built/desktop/main-2x.png';
$icon-arrow-down-bl-2x: (0px, 0px, 0px, 0px, 28px, 18px, 64px, 44px, '../images/sprites-built/desktop/main-2x.png', 'icon-arrow-down-bl-2x', );
$icon-arrow-down-hov-2x-name: 'icon-arrow-down-hov-2x';
$icon-arrow-down-hov-2x-x: 36px;
$icon-arrow-down-hov-2x-y: 0px;
$icon-arrow-down-hov-2x-offset-x: -36px;
$icon-arrow-down-hov-2x-offset-y: 0px;
$icon-arrow-down-hov-2x-width: 28px;
$icon-arrow-down-hov-2x-height: 18px;
$icon-arrow-down-hov-2x-total-width: 64px;
$icon-arrow-down-hov-2x-total-height: 44px;
$icon-arrow-down-hov-2x-image: '../images/sprites-built/desktop/main-2x.png';
$icon-arrow-down-hov-2x: (36px, 0px, -36px, 0px, 28px, 18px, 64px, 44px, '../images/sprites-built/desktop/main-2x.png', 'icon-arrow-down-hov-2x', );
$icon-arrow-down-2x-name: 'icon-arrow-down-2x';
$icon-arrow-down-2x-x: 0px;
$icon-arrow-down-2x-y: 26px;
$icon-arrow-down-2x-offset-x: 0px;
$icon-arrow-down-2x-offset-y: -26px;
$icon-arrow-down-2x-width: 28px;
$icon-arrow-down-2x-height: 18px;
$icon-arrow-down-2x-total-width: 64px;
$icon-arrow-down-2x-total-height: 44px;
$icon-arrow-down-2x-image: '../images/sprites-built/desktop/main-2x.png';
$icon-arrow-down-2x: (0px, 26px, 0px, -26px, 28px, 18px, 64px, 44px, '../images/sprites-built/desktop/main-2x.png', 'icon-arrow-down-2x', );
$spritesheet-width: 32px;
$spritesheet-height: 22px;
$spritesheet-image: '../images/sprites-built/desktop/main.png';
$spritesheet-sprites: ($icon-arrow-down-bl, $icon-arrow-down-hov, $icon-arrow-down, );
$spritesheet: (32px, 22px, '../images/sprites-built/desktop/main.png', $spritesheet-sprites, );
$retina-spritesheet-width: 64px;
$retina-spritesheet-height: 44px;
$retina-spritesheet-image: '../images/sprites-built/desktop/main-2x.png';
$retina-spritesheet-sprites: ($icon-arrow-down-bl-2x, $icon-arrow-down-hov-2x, $icon-arrow-down-2x, );
$retina-spritesheet: (64px, 44px, '../images/sprites-built/desktop/main-2x.png', $retina-spritesheet-sprites, );

// These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.
//
// The list formatted variables are intended for mixins like `retina-sprite` and `retina-sprites`.
$icon-arrow-down-bl-group-name: 'icon-arrow-down-bl';
$icon-arrow-down-bl-group: ('icon-arrow-down-bl', $icon-arrow-down-bl, $icon-arrow-down-bl-2x, );
$icon-arrow-down-hov-group-name: 'icon-arrow-down-hov';
$icon-arrow-down-hov-group: ('icon-arrow-down-hov', $icon-arrow-down-hov, $icon-arrow-down-hov-2x, );
$icon-arrow-down-group-name: 'icon-arrow-down';
$icon-arrow-down-group: ('icon-arrow-down', $icon-arrow-down, $icon-arrow-down-2x, );
$retina-groups: ($icon-arrow-down-bl-group, $icon-arrow-down-hov-group, $icon-arrow-down-group, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `retina-sprite` mixin sets up rules and a media query for a sprite/retina sprite.
//   It should be used with a "retina group" variable.
//
// The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/
//
// $icon-home-group: ('icon-home', $icon-home, $icon-home-2x, );
//
// .icon-home {
//   @include retina-sprite($icon-home-group);
// }
@mixin sprite-background-size($sprite) {
  $sprite-total-width: nth($sprite, 7);
  $sprite-total-height: nth($sprite, 8);
  background-size: $sprite-total-width $sprite-total-height;
}

@mixin retina-sprite($retina-group) {
  $normal-sprite: nth($retina-group, 2);
  $retina-sprite: nth($retina-group, 3);
  @include sprite($normal-sprite);

  @media (-webkit-min-device-pixel-ratio: 2),
         (min-resolution: 192dpi) {
    @include sprite-image($retina-sprite);
    @include sprite-background-size($normal-sprite);
  }
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}

// The `retina-sprites` mixin generates a CSS rule and media query for retina groups
//   This yields the same output as CSS retina template but can be overridden in SCSS
//
// @include retina-sprites($retina-groups);
@mixin retina-sprites($retina-groups) {
  @each $retina-group in $retina-groups {
    $sprite-name: nth($retina-group, 1);
    .#{$sprite-name} {
      @include retina-sprite($retina-group);
    }
  }
}
